{% extends 'index/base.html'%}
{% block contenido %}
<div class="container">
    {% if perms.fuds.add_motivo %}
    <a href="{% url 'fuds:NuevoMotivo' %}"><i class="material-icons">
            add_circle
            </i>Agregar nuevo</a>
    {% endif %}
    
    <table class="table table-reposive">
        <tr>
            <td><b>Conformidad</b></td>
            <td><b>Motivo</b></td>
            <td><b>Fecha Alta</b></td>
            <td class="text-center">Editar</td>
            <td class="text-center">Eliminar</td>
        </tr>
        {% for datamotivos in object_list %}
        
        <tr>
            <td>{{ datamotivos.motivo_idconformidad.conformidad_descripcion }}</td>
            <td>{{ datamotivos.motivo_descripcion }}</td>
            <td>{{ datamotivos.motivo_fechaAlta }}</td>
            <td class="text-center"><a href="{% url 'fuds:EditarMotivo' datamotivos.motivo_id %}"><i class="material-icons">edit</i></a></td>
            <td class="text-center"><a href="{% url 'fuds:EliminarMotivo' datamotivos.motivo_id %}"><i class="material-icons">delete</i></a></td>
        </tr>
        {% endfor %}
    </table>
</div><!-- fin container-->
{% endblock contenido %}