{% extends 'index/base.html'%}
{% block contenido %}
<div class="container">
    {% if perms.fuds.add_vendedores %}
    <a href="{% url 'fuds:NuevoVendedor' %}"><i class="material-icons">
            add_circle
            </i>Agregar nuevo</a>
    {% endif %}
    
    <table class="table table-reposive">
        <tr>
            <td><b>Vendedor</b></td>
            <td><b>Zona</b></td>
            <td><b>Fecha Alta</b></td>
            <td class="text-center">Editar</td>
            <td class="text-center">Eliminar</td>
        </tr>
        {% for datamzonas in object_list %}
        
        <tr>
            <td>{{ datamzonas.Vend_nombre }}</td>
            <td>{{ datamzonas.Vend_Zona.Zona_nombre }}</td>
            <td>{{ datamzonas.Vend_FechaAlta }}</td>
            <td class="text-center"><a href="{% url 'fuds:EditarVendedor' datamzonas.Vend_id %}"><i class="material-icons">edit</i></a></td>
            <td class="text-center"><a href="{% url 'fuds:EliminarVendedor' datamzonas.Vend_id %}"><i class="material-icons">delete</i></a></td>
        </tr>
        {% endfor %}
    </table>
</div><!-- fin container-->
{% endblock contenido %}