{% extends 'index/base.html'%}
{% block contenido %}
<div class="container"> 
        <div class="alert alert-info">
            <p><strong>Cerrar! </strong>Esta apunto de terminar el soporte ala orden de servicio N° {{view.kwargs.pk}}.</p>
        </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for input in form %}
            <div class="col-sm-4">
                {{input.label}}
                {{input}}
                <small class="form-text text-muted">{{input.help_text}}.</small> 
                {{input.errors}}
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-2">
            <button class="form-control btn btn-app-teal" type="submit">Terminar</button>
        </div>
    </form>
</div>

{% endblock contenido %}