{% extends 'index/base.html'%}
{% block contenido %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'compra:listacompras' %}">Listar compras</a></li>
        <li class="breadcrumb-item active" aria-current="page">Captura de una compra</li>
    </ol>
</nav>
<div class="col-md-6 offset-md-3">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="form-control btn-success" type="submit">Guardar datos compra</button>
    </form>
</div>
{% endblock contenido %}