{% extends 'index/base.html'%}
{% block contenido %}
{% load humanize %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{tituloBrea}}</li>
  </ol>
</nav>
<div class="container">
<div class="row">
  <style>
  
  .rayas .col-sm-3{
    background-color: whitesmoke ;
  }
  
  thead tr{
    background-color: grey;
    text-align: center;
    color: white;
  }
  </style>
  <form action="{% url 'fuds:ClienteSearch' %}" id="form_search_client" method="post">
      {% csrf_token %}
      <input type="text" name="txt_search" class="form-control" value="" placeholder="Busqueda de cliente" required>
      <input type="submit" class="btn btn-info" value="Buscar" placeholder="Busqueda de cliente">
      <div id="mediocuerpo"></div>
  </form>
    <form action="" method="post" id="formu">
      <div class="container">
        <div class="row rayas">
          <input type="text" id="nombredecliente" class="form-control" readonly>
          {% csrf_token %}
          <div class="col-sm-3">
            {{ form.NumeroVenta.label }}
            {{ form.NumeroVenta.errors }}
            {{ form.NumeroVenta }}
          </div>
          <div class="col-sm-3" id="testdiv">
            {{ form.FechaFactura.label }}
            {{ form.FechaFactura.errors }}
            {{ form.FechaFactura }}
          </div>
          <div class="col-sm-3">
            {{ form.NumeroCliente.label }}
            {{ form.NumeroCliente.errors }}
            {{ form.NumeroCliente }}
          </div>
          <div class="col-sm-3">
            {{ form.NombreCliente.label }}
            {{ form.NombreCliente.errors }}
            {{ form.NombreCliente }}
          </div>
          <div class="col-sm-3">
              {{ form.VendedorCliente.label }}
              {{ form.VendedorCliente.errors }}
              {{ form.VendedorCliente }}
            </div>
            <div class="col-sm-3">
              {{ form.Factura.label }}
              {{ form.Factura.errors }}
              {{ form.Factura }}
            </div>
            <div class="col-sm-3">
              {{ form.factura_total.label }}
              {{ form.factura_total.errors }}
              {{ form.factura_total }}
            </div>
            <div class="col-sm-3">
              {{ form.Motivo.label }}
              {{ form.Motivo.errors }}
              {{ form.Motivo }}
            </div>
            <div class="col-sm-3">
              {{ form.tramite.label }}
              {{ form.tramite.errors }}
              {{ form.tramite }}
            </div>
            <div class="col-sm-3">
              {{ form.devolucion.label }}
              {{ form.devolucion.errors }}
              {{ form.devolucion }}
            </div>
            <div class="col-sm-3">
              {{ form.responsable.label }}
              {{ form.responsable.errors }}
              {{ form.responsable }}
            </div>
            <div class="col-sm-3">
              {{ form.Descuento.label }}
              {{ form.Descuento.errors }}
              {{ form.Descuento }}
            </div>
            <div class="col-sm-12">
              {{ form.observaciones.label }}
              {{ form.observaciones.errors }}
              {{ form.observaciones }}
            </div>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
          </div>
        </div>
      </div>
    </form>
</div>
</div>
{% endblock contenido %}
{% block script %}
<script>
  var frm = $('#form_search_client');
  frm.submit(function (e) {
    e.preventDefault();
    $.ajax({
      type: frm.attr('method'),
      url: frm.attr('action'),
      data: frm.serialize(),
      success: function (data) {
        document.getElementById("mediocuerpo").innerHTML=data.numerodecliente
        $("#nombredecliente").val(data.nombredecliente)
        $("#id_NumeroCliente").val(data.numerodecliente)
      },
      error: function (data) {
        console.log('An error occurred.');
        console.log(data);
      },
    });
  });
</script>
{% endblock script %}