{% extends 'index/base.html'%}
{% block contenido %}
{% load humanize %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{tituloBrea}}</li>
  </ol>
</nav>
<!-- <div class="container"> -->
<!-- <div class="row"> -->
  <style>
  
  .rayas .col-sm-3{
    background-color: whitesmoke ;
  }
  
  thead tr{
    background-color: grey;
    text-align: center;
    color: white;
  }
  </style>
    <form action="" method="post" id="formu">
      <div class="container">
        <div class="row rayas ">
          {% csrf_token %}
          <div class="col-sm-3">
            {{ form.NumeroVenta.label }}
            {{ form.NumeroVenta.errors }}
            {{ form.NumeroVenta }}
          </div>
          <div class="col-sm-3">
            {{ form.NumeroCliente.label }}
            {{ form.NumeroCliente.errors }}
            {{ form.NumeroCliente }}
          </div>
          <div class="col-sm-3">
            {{ form.VendedorCliente.label }}
            {{ form.VendedorCliente.errors }}
            {{ form.VendedorCliente }}
          </div>
          <div class="col-sm-3">
            {{ form.Factura.label }}
            {{ form.Factura.errors }}
            {{ form.Factura }}
          </div>
          <div class="col-sm-3">
            {{ form.factura_total.label }}
            {{ form.factura_total.errors }}
            {{ form.factura_total }}
          </div>
          <div class="col-sm-3">
            {{ form.Motivo.label }}
            {{ form.Motivo.errors }}
            {{ form.Motivo }}
          </div>
          <div class="col-sm-3">
            {{ form.tramite.label }}
            {{ form.tramite.errors }}
            {{ form.tramite }}
          </div>
          <div class="col-sm-3">
            {{ form.devolucion.label }}
            {{ form.devolucion.errors }}
            {{ form.devolucion }}
          </div>
          <div class="col-sm-3">
            {{ form.responsable.label }}
            {{ form.responsable.errors }}
            {{ form.responsable }}
          </div>
          {% if perms.fuds.change_fud or perms.fuds.change_fud %}
          <div class="col-sm-3">
            {{ form.EstadoFud.label }}
            {{ form.EstadoFud.errors }}
            {{ form.EstadoFud }}
          </div>
          {% endif %}
          <div class="col-sm-12">
            {{ form.observaciones.label }}
            {{ form.observaciones.errors }}
            {{ form.observaciones }}
          </div>

          <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-success">Guardar</button>
          </div>
        </div>
      </div>
</form>
<hr>
<div class="container">
  <div class="row">
    <button type="button" onclick="genera_pdf()" class="btn btn-dark">Generar PDF </button>
    <table class="table table-bordered" id="tabla_fud">
      <thead>
          <tr>
            <th scope="col">Partida</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Importe</th>
            <th scope="col">Total</th>
            {% comment %} <th scope="col">Acciones</th> {% endcomment %}
          </tr>
      </thead>
      {% for partidas in resultados %} 
      <tr>
        <th scope="row">{{partidas.Partida_nombre.producto_codigo}}</th>
        <th scope="row">{{partidas.Partida_nombre.producto_descripcion}}</th>
        <th scope="row">{{partidas.Partida_Precio}}</th>
        <th scope="row">{{partidas.Partida_Cantidad}}</th>
        <th scope="row">{{partidas.get_cantidadXpartidas}}</th>
        <th scope="row">{{partidas.get_cantidadXpartidasIVA}}</th>
      </tr>
      {% endfor %}
      <tr>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row">Sub Total</th>
        <th scope="row">{{total_partidas|intcomma}}</th>
      </tr>
      <tr>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row">IVA</th>
        <th scope="row">{{total_iva|intcomma}}</th>
      </tr>
      <tr>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row">Total</th>
        <th scope="row">{{total_total|intcomma}}</th>
      </tr>
    </div>
  </table>
</div>
<!-- </div> -->
<!-- </div> -->
{% endblock contenido %}
{% block script %}
{% load static %}
<script>
function genera_pdf(){
  var margins = {
        top: 0,
        bottom: 60,
        left: 0,
        width: 100
      };

  var doc = new jsPDF();
  var img = new Image();
  img.src = "{% static 'ccs.png' %}" ;
  doc.addImage(img, 'png', 10, 10, 25, 17);
  var img2 = new Image();
  img2.src = "{% static 'ISO.jpg' %}" ;
  doc.addImage(img2, 'JPG', 180, 10, 25, 17);
  doc.setFontSize(14);
  doc.text(40, 20,"FORMATO ÚNICO DE DEVOLUCIÓN DE MERCANCÍA");
  doc.setFontSize(6);
  doc.text(10, 28,"CÓDIGO: CC-AC-R06");
  doc.text(10, 32,"EDICIÓN: 02 25 DE OCTUBRE DE 2018");
  doc.setFontSize(14);
  doc.text(100, 32,"FOLIO: {{ view.kwargs.pk }}");
  doc.setFontSize(8);
  doc.text(10, 40,"PEDIDO: "+$("#id_NumeroVenta").val());
  //doc.text(42, 40,"VENDEDOR: "+$("#id_VendedorCliente option:selected").text());
  doc.text(42, 40,"VENDEDOR: "+$("#id_VendedorCliente option:selected").text());
  //doc.text(125, 40,"# CLIENTE: "+$("#id_NumeroCliente").val());
  //doc.text(165, 40,"FECHA: "+$("#id_fecha_creacion").val());
  doc.text(140, 40,"FECHA: {{ fecha_hoy }}");
  doc.text(10, 45,"FACTURA: "+$("#id_Factura").val());
  doc.text(50, 45,"FECHA FACTURA: {{ fecha_factura.FechaFactura }}");
  doc.text(120, 45,"CLIENTE: {{fecha_factura.NumeroCliente}}");
  doc.autoTable({html: '#tabla_fud', startY: 47,styles:{fontSize:6}});
  var splitTitle = doc.splitTextToSize("OBSERVACIONES: "+$("#id_observaciones").val(), 180);
  doc.text(10, doc.previousAutoTable.finalY + 2,splitTitle);
  doc.text(30, doc.previousAutoTable.finalY + 52,"Cliente");
  doc.text(60, doc.previousAutoTable.finalY + 52,"Distribución");
  doc.text(90, doc.previousAutoTable.finalY + 52,"Almacen");
  doc.text(120, doc.previousAutoTable.finalY + 52,"Acomodo");
  doc.text(160, doc.previousAutoTable.finalY + 52,"Autorizado por");
  doc.save('Fud'+{{ view.kwargs.pk }}+'.pdf');
  }
</script>
{% endblock script %}