{% extends 'index/base.html'%}
{% block contenido %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista Fuds</li>
    </ol>
</nav>

{% if perms.fuds.add_fud %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="get">
            <select class="custom-select custom-select-lg mb-3" name="Busqueda">
                <option selected value="0">Filtrar por: </option>
                <option value="1">Creado</option>
                <option value="2">Autorizados</option>
                <option value="3">En transito</option>
                <option value="4">Entregados</option>
                <option value="5">Finalizados</option>
            </select>
            <button type="submit" class="btn btn-info">Buscar</button>
        </form>
    </div>
    <div class="col">
        <span class="float-right">
            <a class="btn btn-secondary btn-sm" href="{% url 'fuds:fud_create' %}" role="button">Añadir</a>
        </span>
    </div>
</div>
{% endif %}





<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4>Fuds</h4>
            <ul class="card-actions">
                <li>
                    <button type="button" data-toggle="tooltip" title="" data-original-title="Undo"><i
                            class="ion-action-undo"></i></button>
                </li>
                <li>
                    <button type="button" data-toggle="tooltip" title="" data-original-title="Redo"><i
                            class="ion-action-redo"></i></button>
                </li>
                <li>
                    <button type="button" data-toggle="tooltip" title="" data-original-title="Edit"><i
                            class="ion-pencil"></i></button>
                </li>
                <li class="dropdown">
                    <button type="button" data-toggle="dropdown" aria-expanded="false">Mas <span
                            class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Accion</li>
                        <li>
                            <a tabindex="-1" href="#">xls</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- .card-actions -->

        </div>
        <div class="card-block">
                <div class="table-responsive">
                        <table class="table-condensed table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-center"> <small><b>#</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Fecha Factura</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Cliente</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Zona</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Vendedor</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Conformidad</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Motivo</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Tramite</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Devolucion</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Responsable</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Observaciones</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Creacion</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Creado</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Estatus</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Agregar partidas</b></small></th>
                                    <th scope="col" class="text-center"> <small><b>Acciones</b></small></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fud in object_list %}
                                <tr>
                                    <th scope="row"><b>{{fud.Folio}}</b></th>
                                    <td><small>{{fud.FechaFactura}}</small></td>
                                    <td><small>{{fud.NumeroCliente}}</small></td>
                                    <td><small>{{fud.VendedorCliente.Vend_Zona.Zona_nombre}}</small></td>
                                    <td><small>{{fud.VendedorCliente}}</small></td>
                                    <td><small>{{fud.Motivo.motivo_idconformidad.conformidad_descripcion}}</small></td>
                                    <td><small>{{fud.Motivo}}</small></td>
                                    <td><small>{{fud.tramite}}</small></td>
                                    <td><small>{{fud.get_devolucion_display}}</small></td>
                                    <td><small>{{fud.responsable}}</small></td>
                                    <td><small>{{fud.observaciones|truncatewords:5}}</small></td>
                                    <td><small>{{fud.fecha_creacion}}</small></td>
                                    <td><small>{{fud.creado_por}}</small></td>
                                    <td><small>{{fud.get_EstadoFud_display}}</small></td>
                                    <td><small><a href="{% url 'fuds:Partida' fud.Folio %}"><i class="material-icons">add</i></a></small>
                                    </td>
                                    <td><small>
                                            <a href="{% url 'fuds:fud_update' fud.Folio %}"><i class="material-icons">border_color</i></a>
                                            <a href="{% url 'fuds:fud_delete' fud.Folio %}"><i class="material-icons">delete_forever</i></a>
                                        </small></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
</div>


<div class="row justify-content-md-center">

    {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}&{{urls_formateada.urlencode}}"><i
                        class="material-icons">
                        navigate_before
                    </i></a></li>
            {% endif %}
            <span class="page-link">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                <span class="sr-only">(current)</span>
            </span>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.next_page_number }}&{{urls_formateada.urlencode}}"><i
                        class="material-icons">
                        navigate_next
                    </i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endblock %}

</div>
{% endblock contenido %}