{% extends 'index/base.html'%}
{% block contenido %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista Fuds</li>
    </ol>
</nav>

{% if perms.fuds.add_fud %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="get">
            <select class="custom-select custom-select-lg mb-3" name="Busqueda">
                <option selected value="0">Filtrar por: </option>
                <option value="1">Creado</option>
                <option value="2">Autorizados</option>
                <option value="3">En transito</option>
                <option value="4">Entregados</option>
                <option value="5">Finalizados</option>
            </select>
            <button type="submit" class="btn btn-info">Buscar</button>
        </form>
    </div>
    <div class="col">
        <span class="float-right">
            <a class="btn btn-secondary btn-sm" href="{% url 'fuds:fud_create' %}" role="button">Añadir</a>
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="" method="get">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="fecha_captura">Fecha Captura Inicial</label>
                    <input type="date" class="form-control" id="fecha_captura_ini" name="fecha_captura_ini">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="fecha_captura">Fecha Captura Final</label>
                    <input type="date" class="form-control" id="fecha_captura_end" name="fecha_captura_end">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label for="vendedors">Vendedor</label>
                    <select class="form-control" id="vendedors" name="vendedors">
                        <option value="">----------------</option>
                        {% for item in vendedor %}
                        <option value="{{item.Vend_id}}"
                            {% if view.request.GET.vendedors == item.Vend_id|striptags %}selected{% endif %}>{{item.Vend_nombre}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="tip_aacion">Tipo de accion</label>
                    <select class="form-control" id="tip_aacion" name="tip_aacion">
                        <option value="">----------------</option>
                        {% for item in tip_accion %}
                        <option value="{{item.0}}" 
                        {% if view.request.GET.tip_aacion == item.0|striptags %}selected{% endif %}>{{item.1}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="conformidad">Conformidad</label>
                    <select class="form-control" id="conformidad" name="conformidad">
                        <option value="">----------------</option>
                        {% for item in conformidad %}
                        <option value="{{item.conformidad_id}}" 
                        {% if view.request.GET.conformidad == item.conformidad_id|striptags %}selected{% endif %}>{{item.conformidad_descripcion}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="motivo">Motivo</label>
                    <select class="form-control" id="motivo" name="motivo">
                        <option value="">----------------</option>
                        {% for item in motivo %}
                        <option value="{{item.motivo_id}}" 
                        {% if view.request.GET.motivo == item.motivo_id|striptags %}selected{% endif %}>{{item.motivo_descripcion}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endif %}
<!-- <table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="text-center"> <small><b>#</b></small></th>
            <th scope="col" class="text-center"> <small><b>Fecha Factura</b></small></th>
            <th scope="col" class="text-center"> <small><b>Cliente</b></small></th>
            <th scope="col" class="text-center"> <small><b>Zona</b></small></th>
            <th scope="col" class="text-center"> <small><b>Vendedor</b></small></th>
            <th scope="col" class="text-center"> <small><b>Conformidad</b></small></th>
            <th scope="col" class="text-center"> <small><b>Motivo</b></small></th>
            <th scope="col" class="text-center"> <small><b>Trámite</b></small></th>
            <th scope="col" class="text-center"> <small><b>Devolución</b></small></th>
            <th scope="col" class="text-center"> <small><b>Responsable</b></small></th>
            <th scope="col" class="text-center"> <small><b>Observaciones</b></small></th>
            <th scope="col" class="text-center"> <small><b>Creación</b></small></th>
            <th scope="col" class="text-center"> <small><b>Creado</b></small></th>
            <th scope="col" class="text-center"> <small><b>Estatus</b></small></th>
            <th scope="col" class="text-center"> <small><b>Agregar partidas</b></small></th>
            <th scope="col" class="text-center"> <small><b>Acciones</b></small></th>
        </tr>
    </thead>
    <tbody>
        {% for fud in object_list %}
        <tr>
            <th scope="row"><b>{{fud.Folio}}</b></th>
            <td><small>{{fud.FechaFactura}}</small></td>
            <td><small>{{fud.NumeroCliente}}</small></td>
            <td><small>{{fud.VendedorCliente.Vend_Zona.Zona_nombre}}</small></td>
            <td><small>{{fud.VendedorCliente}}</small></td>
            <td><small>{{fud.Motivo.motivo_idconformidad.conformidad_descripcion}}</small></td>
            <td><small>{{fud.Motivo}}</small></td>
            <td><small>{{fud.tramite}}</small></td>
            <td><small>{{fud.get_devolucion_display}}</small></td>
            <td><small>{{fud.responsable}}</small></td>
            <td><small>{{fud.observaciones|truncatewords:5}}</small></td>
            <td><small>{{fud.fecha_creacion}}</small></td>
            <td><small>{{fud.creado_por}}</small></td>
            <td><small>{{fud.get_EstadoFud_display}}</small></td>
            <td><small><a href="{% url 'fuds:Partida' fud.Folio %}"><i class="material-icons">add</i></a></small></td>
            <td><small>
                    <a href="{% url 'fuds:fud_update' fud.Folio %}"><i class="material-icons">border_color</i></a>
                    <a href="{% url 'fuds:fud_delete' fud.Folio %}"><i class="material-icons">delete_forever</i></a>
                </small></td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->





<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4>Fuds</h4>
            <ul class="card-actions">
                <li>
                    <button type="button" data-toggle="tooltip" title="" data-original-title="Undo"><i
                            class="ion-action-undo"></i></button>
                </li>
                <li>
                    <button type="button" data-toggle="tooltip" title="" data-original-title="Redo"><i
                            class="ion-action-redo"></i></button>
                </li>
                <li>
                    <button type="button" data-toggle="tooltip" title="" data-original-title="Edit"><i
                            class="ion-pencil"></i></button>
                </li>
                <li class="dropdown">
                    <button type="button" data-toggle="dropdown" aria-expanded="false">Mas <span
                            class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Accion</li>
                        <li>
                            <a tabindex="-1"
                                href="{% url 'fuds:dowload_fud_xls' %}?{{view.request.GET.urlencode}}">xls</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- .card-actions -->

        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table-condensed table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-center"> <small><b>#</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Fecha Factura</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Cliente</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Zona</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Vendedor</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Conformidad</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Motivo</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Tramite</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Devolucion</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Responsable</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Observaciones</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Creacion</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Creado</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Estatus</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Agregar partidas</b></small></th>
                            <th scope="col" class="text-center"> <small><b>Acciones</b></small></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fud in object_list %}
                        <tr>
                            <th scope="row"><b>{{fud.Folio}}</b></th>
                            <td><small>{{fud.FechaFactura}}</small></td>
                            <td><small>{{fud.NumeroCliente}}</small></td>
                            <td><small>{{fud.VendedorCliente.Vend_Zona.Zona_nombre}}</small></td>
                            <td><small>{{fud.VendedorCliente}}</small></td>
                            <td><small>{{fud.Motivo.motivo_idconformidad.conformidad_descripcion}}</small></td>
                            <td><small>{{fud.Motivo}}</small></td>
                            <td><small>{{fud.tramite}}</small></td>
                            <td><small>{{fud.get_devolucion_display}}</small></td>
                            <td><small>{{fud.responsable}}</small></td>
                            <td><small>{{fud.observaciones|truncatewords:5}}</small></td>
                            <td><small>{{fud.fecha_creacion}}</small></td>
                            <td><small>{{fud.creado_por}}</small></td>
                            <td><small>{{fud.get_EstadoFud_display}}</small></td>
                            <td><small><a href="{% url 'fuds:Partida' fud.Folio %}"><i
                                            class="material-icons">add</i></a></small>
                            </td>
                            <td><small>
                                    <a href="{% url 'fuds:fud_update' fud.Folio %}"><i
                                            class="material-icons">border_color</i></a>
                                    <a href="{% url 'fuds:fud_delete' fud.Folio %}"><i
                                            class="material-icons">delete_forever</i></a>
                                </small></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-md-center">

    {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}&{{urls_formateada.urlencode}}"><i
                        class="material-icons">
                        navigate_before
                    </i></a></li>
            {% endif %}
            <span class="page-link">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                <span class="sr-only">(current)</span>
            </span>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.next_page_number }}&{{urls_formateada.urlencode}}"><i
                        class="material-icons">
                        navigate_next
                    </i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endblock %}

</div>
{% endblock contenido %}