{% extends 'index/base.html'%}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <h4>Pedidos</h4>
        <ul class="card-actions">

            <li class="dropdown">
                <button type="button" data-toggle="dropdown" aria-expanded="false">Mas <span
                        class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">Accion</li>
                    <li>
                        {% if perms.pedidos.add_tipo_pedido %}
                        <a tabindex="-1" href="{% url 'pedidos:config_tipo_pedido_crear' %}">Añadir</a>
                        {% endif %}
                    </li>
                </ul>
            </li>
        </ul>
        <!-- .card-actions -->

    </div>
    <div class="card-block">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>{{item.tp_nombre}}</td>
                    <td>{{item.tp_descripcion}}</td>
                    <td>{{item.tp_imagen.url}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido %}