{% extends 'web/base.html' %}
{% load humanize %}
{% block titulo %}
Iniciar Sesion
{% endblock titulo %}

{% block contenido %}
<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="row justify-content-md-center">
    <div class="card text-center col col-lg-4">
      <h5 class="card-header">Entrar</h5>
      <div class="card-body">
          {% if messages %}
            <div class="alert alert-dark" role="alert">
                <h4 class="alert-heading">Bien hecho!</h4>
                <p>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </p>
            </div>
          {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Usuario">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="Contraseña">
          </div>
          <div class="form-group form-check">
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
          {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}

{% block footer %}
  
{% endblock footer %}
  
  
  

 