{% extends 'index/base.html'%}

{% block contenido %}
{% load humanize %}
{% load personalizacion_tag %}
{% if user.is_superuser %}


<div class="row">
    <div class="col-sm-6 col-lg-3">
        <a class="card" href="javascript:void(0)">
            <div class="card-block clearfix">
                <div class="pull-right">
                    <p class="h6 text-muted m-t-0 m-b-xs">Pedidos {% now "M Y" %}</p>
                    <p class="h3 text-blue m-t-sm m-b-0">{{pedido}}</p>
                </div>
                <div class="pull-left m-r">
                    <span class="img-avatar img-avatar-48 bg-blue bg-inverse"><i
                            class="ion-ios-bell fa-1-5x"></i></span>
                </div>
            </div>
        </a>
    </div>
    <!-- .col-sm-6 -->

    <div class="col-sm-6 col-lg-3">
        <a class="card bg-green bg-inverse" href="javascript:void(0)">
            <div class="card-block clearfix">
                <div class="pull-right">
                    <p class="h6 text-muted m-t-0 m-b-xs">Gastos {% now "M Y" %} Ped. Suc.</p>
                    <p class="h3 m-t-sm m-b-0">{{total_mes|floatformat:3|intcomma}}</p>
                </div>
                <div class="pull-left m-r">
                    <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-people fa-1-5x"></i></span>
                </div>
            </div>
        </a>
    </div>
    <!-- .col-sm-6 -->

    <div class="col-sm-6 col-lg-3">
        <a class="card bg-blue bg-inverse" href="javascript:void(0)">
            <div class="card-block clearfix">
                <div class="pull-right">
                    <p class="h6 text-muted m-t-0 m-b-xs">Pedidos pendientes</p>
                    <p class="h3 m-t-sm m-b-0">{{ped_pendientes}}</p>
                </div>
                <div class="pull-left m-r">
                    <span class="img-avatar img-avatar-48 bg-gray-light-o"><i
                            class="ion-ios-speedometer fa-1-5x"></i></span>
                </div>
            </div>
        </a>
    </div>
    <!-- .col-sm-6 -->

    <div class="col-sm-6 col-lg-3">
        <a class="card bg-purple bg-inverse" href="javascript:void(0)">
            <div class="card-block clearfix">
                <div class="pull-right">
                    <p class="h6 text-muted m-t-0 m-b-xs">Gasto Maximo {% now "Y" %} -
                        {{maximo_gasto.gasto|floatformat:2|intcomma}}</p>
                    <p class="h6 m-t-sm m-b-0">{{maximo_gasto.sucursal}}</p>
                </div>
                <div class="pull-left m-r">
                    <span class="img-avatar img-avatar-48 bg-gray-light-o"><i class="ion-ios-email fa-1-5x"></i></span>
                </div>
            </div>
        </a>
    </div>
    <!-- .col-sm-6 -->
</div>




<div class="row">
    <div class="col-lg-12">
        <!-- Weekly users Widget -->
        <div class="card">
            <div class="card-header">
                
                
                {% if view.request.GET.fin_pedido == None %}
                <h4>Gastos Mes {% now "F Y" %} por sucursal</h4>
                {% else %}
                <h4>Gastos de {{init_pedido|date:"d F Y"}} al {{fin_pedido|date:"d F Y"}} por sucursal</h4>
                {% endif %}
                    
                <ul class="card-actions">

                </ul>
            </div>
            <div class="card-block">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="card-block text-center">
                    <div class="row">
                            <form class="form-inline" action="" method="GET">
                                <div class="form-group">
                                    <select class="form-control" id="example-select" name="pedido_empresa" required>
                                        <option selected disabled>Elija una empresa</option>
                                        
                                        {% for item in list_empresas %}
                                        <option value="{{item.id}}" {% if item.id|striptags == view.request.GET.pedido_empresa %}selected{% endif %}>{{item.empresa_nombre}}</option>
                                        {% endfor %}
                                            
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="init_pedido">Inicio</label>
                                    <input class="form-control" value="{{view.request.GET.init_pedido}}" type="date" id="init_pedido" name="init_pedido" required>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="fin_pedido">Fin</label>
                                    <input class="form-control" value="{{view.request.GET.fin_pedido}}" type="date" id="fin_pedido"
                                        name="fin_pedido" required>
                                </div>
                                <div class="form-group m-b-0">
                                    <button class="btn btn-default" type="submit"><i class="ion-android-search"></i></button>
                                </div>
                            </form>
                        </div>
                <span class="label bg-green m-r-xs">Estadistica <i class="ion-connection-bars"></i></span>
            </div>
        </div>
        <!-- .card -->
        <!-- End Weekly users Widget -->
    </div>
</div>





<div class="row">
    <div class="col-lg-5">
        <!-- Weekly users Widget -->
        <div class="card">
            <div class="card-header">
                <h4>Gastos Mensual de {% now "Y" %}</h4>
                <ul class="card-actions">

                </ul>
            </div>
            <div class="card-block">
                <div>
                    <canvas id="linea_char"></canvas>
                </div>
            </div>
            <div class="card-block text-center">
                <span class="label bg-green m-r-xs">Estadistica <i class="ion-connection-bars"></i></span> <small>para
                    <a href="javascript:void(0)">{% now "Y" %}</a></small>
            </div>
        </div>
        <!-- .card -->
        <!-- End Weekly users Widget -->
    </div>

    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">

                {% if view.request.GET.fin_ods == None %}
                <h4>Gastos Mes {% now "F Y" %} por sucursal</h4>
                {% else %}
                <h4>Gastos de {{init_ods|date:"d F Y"}} al {{fin_ods|date:"d F Y"}} por sucursal</h4>
                {% endif %}


                <ul class="card-actions">
                    <li class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-expanded="false"><i
                                class="ion-more"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">Reporte</li>
                            <li>
                                <a tabindex="-1" href="javascript:void(0)">Descargar</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- .card-actions -->
            </div>
            <!-- .card-header -->
            <div class="card-block p-b-0">
                <canvas id="gasto_ods"></canvas>
            </div>
            <div class="card-block text-center">
                <div class="row">
                    <form class="form-inline" action="" method="GET">
                        <div class="form-group">
                            <select class="form-control" id="example-select" name="empresa_ods" required>
                                <option selected disabled>Elija una empresa</option>
                                
                                {% for item in list_empresas %}
                                <option value="{{item.id}}" {% if item.id|striptags == view.request.GET.empresa_ods %}selected{% endif %}>{{item.empresa_nombre}}</option>
                                {% endfor %}
                                    
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="init_ods">Inicio</label>
                            <input class="form-control" type="date" id="init_ods" name="init_ods" value="{{view.request.GET.init_ods}}" required>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="fin_ods">Fin</label>
                            <input class="form-control" type="date" id="fin_ods" value="{{view.request.GET.fin_ods}}"
                                name="fin_ods" required>
                        </div>
                        <div class="form-group m-b-0">
                            <button class="btn btn-default" type="submit"><i class="ion-android-search"></i></button>
                        </div>
                    </form>
                </div>
                <span class="label bg-green m-r-xs">Reporte</small>
            </div>
        </div>
    </div>
</div>






{% else %}

{% endif %}
{% endblock contenido %}
{% block script %}
{% load random_numbers %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script>

    var speedData = {
        labels: [
            {% for mes in pedidos_anual %}
    "{{mes.detallepedido_pedido_id__pedido_fecha_pedido__month|get_nombre_mes}}",
        {% endfor %}
       ],
    datasets: [{
        label: "Gasto mensual",
        data: [
            {% for mes in pedidos_anual %}
      {{ mes.total | floatformat }},
    {% endfor %}
    ],
        lineTension: 0.4,
            fill: false,
                borderColor: 'rgba(63, 191, 191, 0.5)',
                    backgroundColor: 'transparent',
                        // borderDash: [5, 5],
                        pointBorderColor: 'rgba(62, 187, 187, 1)',
                            pointBackgroundColor: 'rgba(62, 187, 187, 1)',
                                pointRadius: 5,
                                    pointHoverRadius: 10,
                                        pointHitRadius: 30,
                                            pointBorderWidth: 2,
                                                pointStyle: 'rectRounded'
  }]
};

    var chartOptions = {
        legend: {
            display: true,
            position: 'top',
            labels: {
                boxWidth: 80,
                fontColor: 'black'
            }
        }
    };

    var linea = document.getElementById('linea_char');

    var myLineChart = new Chart(linea, {
        type: 'line',
        data: speedData,
        options: chartOptions
    });



    var ctx = document.getElementById('myChart');



    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                {% for item in total_gatos_suc2 %}
                '{{item.detallepedido_pedido_id__pedido_id_depo__departamento_id_sucursal__sucursal_nombre}}',
            {% endfor %}
                ],
    datasets: [{
        label: '# Total gastos',
        data: [
            {% for item in total_gatos_suc2 %}
                '{{item.suma|floatformat:3}}',
    {% endfor %}
    ],
        backgroundColor: [
            {% for item in total_gatos_suc2 %}
    'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',
        {% endfor %}
                    
                ],
    borderColor: [
        {% for item in total_gatos_suc2 %}
    'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 1)',
        {% endfor %}
                   
                ],
    borderWidth: 1
            }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });


    var div_ods = document.getElementById('gasto_ods');



    var ods_char = new Chart(div_ods, {
        type: 'bar',
        data: {
            labels: [
                {% for item in query_gasto_ods %}
                '{{item.ref_departamento__departamento_id_sucursal__sucursal_nombre}}',
            {% endfor %}
                ],
    datasets: [{
        label: '# Total gastos',
        data: [
            {% for item in query_gasto_ods %}
                '{{item.suma|floatformat:3}}',
    {% endfor %}
    ],
        backgroundColor: [
            {% for item in query_gasto_ods %}
    'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.2)',
        {% endfor %}
                    
                ],
    borderColor: [
        {% for item in query_gasto_ods %}
    'rgba({% random_int 1 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 1)',
        {% endfor %}
                   
                ],
    borderWidth: 1
            }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });



</script>
{% endblock script %}