{% extends 'web/base.html' %}
{% load humanize %}
{% block titulo %}
Salir
{% endblock titulo %}


{% block contenido %}
<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Sesion Terminada!</h4>
        <p>¡Agradecemos el tiempo dedicado a este sitio!</p>
        <hr>
        <p class="mb-0">Iniciar sesion nuevamente <a href="{% url 'inicio:index' %}">¡Presiones aqui!</a> </p>
    </div>
</div>
{% endblock contenido %}

{% block footer %}

{% endblock footer %}