body, button, input, select, textarea {
    color: #333;
    font-family: Arial;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
    font-size: 13px;
}

.row{
    padding: 0%;
    margin: 0%;
}

.barraPrincipal{
    background-color: #003a91!important;
    padding-top: 0px; padding-bottom: 0px;
}

.barraPrincipal li:hover{
    color: white;
    background-color: #1e73be;
}
.barraPrincipal li{
    padding: 0px 20px;
    color: white;
    /* background-color: #1e73be; */
}

.barraPrincipal ul li a{
    padding: 20px 30px;
    color: #e2e2e2!important;
    font-weight: bold;
}

.menudesplegable{
    background-color: #464646;
}

.menudesplegable a:hover{
    background-color: #1e73be;
}

h1{
    color: #3b3b3b;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.main p{
    letter-spacing: 1px;
    line-height: 1.6em;
    text-align: justify;
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding: 10px;
}

.main{
    background: #fcfcfc;
    padding: 35px;
}

.main ul li{
    letter-spacing: 1px;
    /* line-height: 1.6em; */
    text-align: justify;
    color: #666666;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* padding: 10px; */
}

strong {
    font-weight: 700;
    font-weight: bold;
}

/* .botoncarrito{
    padding: 12px 20px;
    border-top: solid 1px #d2d2d2;
    border-left: solid 1px #c3c3c3;
    border-right: solid 1px #c3c3c3;
    border-bottom: solid 1px #9f9f9f;
    background: #ffffff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfdfdf), color-stop(1, #ffffff));
    background: -ms-linear-gradient(bottom, #dfdfdf, #ffffff);
    background: -moz-linear-gradient(center bottom, #dfdfdf 0%, #ffffff 100%);
    background: -o-linear-gradient(#ffffff, #dfdfdf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf', GradientType=0);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #646464;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.125), inset 0 1px 0 rgba(255, 255, 255, 0.5);
    width: auto;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    
}

.botoncarrito:hover{
    text-decoration: none;
    border-top: solid 1px #dadada;
    border-left: solid 1px #cfcfcf;
    border-right: solid 1px #cfcfcf;
    border-bottom: solid 1px #a8a8a8;
    color: #ffffff;
    background: #1e73be;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1e73be), color-stop(1, #003a91));
    background: -ms-linear-gradient(bottom, #1e73be, #003a91);
    background: -moz-linear-gradient(center bottom, #1e73be 0%, #003a91 100%);
    background: -o-linear-gradient(#003a91, #1e73be);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003a91', endColorstr='#1e73be', GradientType=0);
} */

.principalTitulo{
    margin: 1em 0;
    font-size: 1.6em;
    color: #6EC1E4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 600;
}

.imagenenmedio{
    padding: 2% 0%;
}

.price{
    color: green;
}

.social_icons li {
	display: inline-block;
	padding: 0px 5px 5px 0;
}
.social_icons li a {
	font-size: 18px;
	color: #687188;
	height: 36px;
	width: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.social_icons li a:hover, 
.header_wrap .social_icons li a:hover {
	color: #003a91;
}
.social_icons.social_small li a {
	height: 25px;
	width: 25px;
	line-height: 26px;
	font-size: 16px;
}

.qty {
	float: left;
	width: 55px;
	height: 36px;
	border: 1px solid #ddd;
	background-color: transparent;
	text-align: center;
	padding: 0;
	margin: 3px;
}

.order_review {
	background-color: #f7f8fb;
	padding: 30px;
}
.order_table thead th {
	border-bottom-width: 1px;
	font-weight: 600;
}
.order_table tfoot th {
	font-weight: 600;
}
.order_table tbody td {
	border: 0;
}
.payment_method {
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
}
.payment_option .custome-radio {
	margin-bottom: 10px;
}
.payment-text {
	display: none;
	margin-top: 5px;
	margin-bottom: 0;
}
.payment_option .custome-radio:first-child .payment-text {
	display: block;
}
.payment_option .custome-radio .form-check-label {
	color: #292b2c;
	font-weight: 600;
}

.botoncarrito {
	background-color: transparent;
	border: 1px solid #003a91;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.botoncarrito::before,
.botoncarrito::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #003a91;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	width: 51%;
}
.botoncarrito::after {
	right: 0;
	left: auto;
}
.botoncarrito:hover:before,
.botoncarrito:hover:after {
	width: 0;
}
.botoncarrito:hover {
	color: #003a91 !important;
}

.contactoW div p{
    text-align: center;
}








#toggle{
    display: none;
}

.button{
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    width: 4em;
    height:4em;
    background: #25d366;
    color:white;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    /* box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3); */
    cursor: pointer;
}

.wspanel{
    background: #25d366;
    color: white;
}

.btonesws
{
    color: #25d366;
}
.ws .dropdown-menu{
    padding: 0%;
}

.navbar-brand{
    font-weight: bold;
    font-size: .9rem;
    color: #e2e2e2;
}