{% extends 'index/base.html'%}
{% block titulo %}
<title>Validar conteo merma</title>
{% endblock titulo %}
{% block buscador_form %}
{% endblock buscador_form %}
{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th scope="col"># Codigo producto</th>
            <th scope="col">Status</th>
            <th scope="col">Resguardo</th>
            <th scope="col">Piking</th>
            <th scope="col">Otros</th>
            <th scope="col">Merma</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Autorizó</th>
            <th scope="col">Capturador</th>
            <th scope="col">Autorizar</th>
        </tr>
    </thead>
    <tbody>

        {% for item in inventario %}
        <tr>
            <th scope="row">{{item.inv_producto}}</th>
            <th scope="row">

                {% if item.inv_validacion %}
                {% else %}
                <i class="material-icons">cancel</i>
                {% endif %}

            </th>
            <td>

                {% if item.inv_cant_resguardo %}
                {{item.inv_cant_resguardo}}
                {% endif %}

            </td>
            <td>

                {% if item.inv_cant_piking %}
                {{item.inv_cant_piking}}
                {% endif %}

            </td>
            <td>

                {% if item.inv_cant_otros %}
                {{item.inv_cant_otros}}
                {% endif %}

            </td>
            <td>

                {% if item.inv_cant_merma %}
                {{item.inv_cant_merma}}
                {% endif %}

            </td>
            <td>{{item.inv_fecha_add}}</td>
            <td>

                {% if item.inv_descripcion %}
                {{item.inv_descripcion}}
                {% endif %}

            </td>
            <td>

                {% if item.inv_sup_autorizo_merma %}
                {{item.inv_sup_autorizo_merma}}
                {% endif %}

            </td>
            <td>

                {% if item.inv_descripcion %}
                {{item.inv_user_catura}}
                {% endif %}

            </td>

            <th>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="?autorizo={{item.inv}}" title="Autorizar" class="btn btn-success btn-sm"><i class="material-icons">check_circle_outline</i></a>
                    <a href="?rechazar={{item.inv}}" title="Rechazar" class="btn btn-danger btn-sm"><i class="material-icons">cancel</i></a>
                </div>
            </th>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock contenido %}