{% load static %}
{% load humanize %}
<!doctype html>
<html lang="es-mx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="description" content="Computel es una empresa 100% Tabasqueña, líder en el ramo papelero que se dedica a la venta al mayoreo de Papeleria, Artículos escolares y de oficina">
        <meta name="keywords" content="ecommerce, tienda, papeleria, computo, copias, impresion, digital, impresoras, limpieza">

        {% block SEO %}
        {% endblock SEO %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo32x32.png' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/versionAzul.css' %}">

        <title>Computel - {% block titulo %}Comercializadora Computel del Sureste{% endblock titulo %}</title>
        {% block encabezado %}{% endblock encabezado %}
    </head>
    <body>
        <div class="btn-group dropup ws">
            <button type="button" class="button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-whatsapp fa-3x"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item wspanel" href=""><b> Inicia una convesación</b></a>
                <a class="dropdown-item btonesws" href="https://web.whatsapp.com/send?phone=529831642938"><i class="fab fa-whatsapp fa-2x"></i><label style="color:black">Cancún</label></a>
                <a class="dropdown-item btonesws" href="https://web.whatsapp.com/send?phone=529931604623"><i class="fab fa-whatsapp fa-2x"></i><label style="color:black">Chiapas</label></a>
                <a class="dropdown-item btonesws" href="https://web.whatsapp.com/send?phone=529931206221"><i class="fab fa-whatsapp fa-2x"></i><label style="color:black">Olmeca</label></a>
                <a class="dropdown-item btonesws" href="https://web.whatsapp.com/send?phone=529931775466"><i class="fab fa-whatsapp fa-2x"></i><label style="color:black">Mérida</label></a>
                <a class="dropdown-item btonesws" href="https://web.whatsapp.com/send?phone=529931489328"><i class="fab fa-whatsapp fa-2x"></i><label style="color:black">Chiapas</label></a>
                <a class="dropdown-item btonesws" href="https://web.whatsapp.com/send?phone=529932075181"><i class="fab fa-whatsapp fa-2x"></i><label style="color:black">Oaxaca</label></a>
                <a class="dropdown-item btonesws" href="https://web.whatsapp.com/send?phone=529931880299"><i class="fab fa-whatsapp fa-2x"></i><label style="color:black">Veracruz</label></a>
            </div>
        </div>

        <div class="container">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="{% url 'web:inicio' %}">
                    <img src="{% static 'logo.jpg' %}" width="200px" height="89px" alt="logo" loading="lazy">
                </a>
                
                <form class="form-inline my-2 my-lg-0" action="{% url 'web:list_prod' %}" method="GET">
                    <div class="input-group">
                        <a href="https://www.facebook.com/Computelsureste" style="padding-right: 3px;">
                            <i class="fab fa-facebook-square fa-3x" style="color:#3b5998;"></i>
                        </a>
                        <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="area">
                            <option value="" selected>Todo</option>

                            {% for item in area %}
                                <option value="{{item.area_id_area}}">{{item}}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="input-group">
                        <input {% if view.request.GET.busqueda != None %}value="{{view.request.GET.busqueda}}"{% endif %} class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="busqueda">
                    </div>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </div>
                </form>
            </nav>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light barraPrincipal">
            <div class="container">
            <a class="navbar-brand text-white" href="{% url 'web:inicio' %}">Inicio</a>
            <button style="background-color: whitesmoke;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'web:nuestraempresa' %}">Nuestra empresa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPoliticas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicio al cliente
                    </a>
                    <div class="dropdown-menu menudesplegable" aria-labelledby="navbarDropdownPoliticas">
                        <!-- <a class="dropdown-item" href="{% url 'web:serviciocliente' %}">Servicio al cliente </a> -->
                        <!--<a class="dropdown-item" href="{% url 'web:aniversario' %}">Compra y gana!</a> -->
                        <a class="dropdown-item" href="{% url 'web:politicasdevo' %}">Políticas de devolución y garantía</a>
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'web:contacto' %}">Contacto</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicios
                    </a>
                    <div class="dropdown-menu menudesplegable" aria-labelledby="navbarDropdownServicios">
                        <a class="dropdown-item" href="http://sue.computel.com.mx/">Foraneos</a>
                        <a class="dropdown-item" href="http://201.163.187.53:8080/EmisionDisXII/principal.php">Facturación electrónica</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTienda" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tienda
                    </a>
                    <div class="dropdown-menu menudesplegable" aria-labelledby="navbarDropdownTienda">
                        {% for item in area %}
                            <a class="dropdown-item" href="{% url 'web:list_prod' %}?area={{item.area_id_area}}">{{item.area_nombre}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if user.is_authenticated %}
                        Usuario({{user.username}})
                    {% else %}
                        Iniciar sesión
                    {% endif %}
                    </a>
                    <div class="dropdown-menu menudesplegable" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
<!--                            <a class="dropdown-item" >{{user.email}}</a> -->
                            <a class="dropdown-item" href="{% url 'web:compras_web' %}">PEDIDOS</a>
                            {% if user.is_user_web == False%}
                            <a class="dropdown-item" href="{% url 'inicio:index' %}">SGA</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'salir' %}">SALIR</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'inicio' %}">ENTRAR</a>
                            <a class="dropdown-item" href="{% url 'web:registro' %}">REGISTRAR</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web:carrito' %}"><i class="fas fa-shopping-cart">${{suma_pre_compra|intcomma}}</i></a>
                </li>
              </ul>
              <!--<span class="navbar-text" style="color:white">
                
              </span> -->
            </div>
            </div>
        </nav>

        {% block contenido %}



    
        {% endblock contenido %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://kit.fontawesome.com/be57ba6ff2.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0Z9WFLXNVB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-0Z9WFLXNVB');
    </script>
<script>
    /* $(document).ready(function($){
        if($("body").height() > 430){
            $('#pie').css({
                position: 'relative',
                width: '100%'
            });
        }else{
            $('#pie').css({
                position: 'fixed',
                bottom: '0rem',
                width: '100%',
                zIndex:'2000'
            });
        }
    });  */
</script>
        {% block script %}
    
        {% endblock script %}
    </body>
    <div class="card text-center bg-dark text-white" id="pie">
        <div class="card-body">
            <p><i class="fas fa-phone fa-3x"> 9933 13 61 80</i></p>
            <p class="font-weight-light">Carretera Villahermosa-Nacajuca k.m. 2.9 S/N, Saloya 3era. Sección, Nacajuca, Tabasco. Tel. 9933 13 61 80</p>
            <p class="font-weight-light">Horario de atención de lunes a viernes de 8:30a.m. a 6:00p.m. <br> Sábado de 8:30a.m. a 2:00p.m.</p>
            <div class="hfe-copyright-wrapper">
                <span>Copyright © Computel {% now 'Y' %}</span>
            </div>
        </div>
    </div>
</html>