
{% extends 'web/base.html' %} 
{% block contenido %}
    
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>{{object}}</h1>
                </div>
            </div>
           
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION BLOG -->
<div class="section">
	<div class="container">
    	<div class="row">
        	<div class="col-xl-9">
            	<div class="single_post">
                	<h2 class="blog_title">{{object.blog_descripcion}}</h2>
                    <ul class="list_none blog_meta">
                        <li><a href="#"><i class="ti-calendar"></i> {{object.blog_creado}}</a></li>
                        <!-- <li><a href="#"><i class="ti-comments"></i> 2 Comment</a></li> -->
                    </ul>
                    <div class="blog_img">
                        <img src="{{object.blog_imagen.url}}" alt="blog_img1">
                    </div>
                    <div class="blog_content">
                        <div class="blog_text">
                           {{object.blog_contenido|safe}}
                        	<div class="blog_post_footer">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-md-8 mb-3 mb-md-0">
                                        <div class="tags">                                            
                                            {% for item in object.blog_tags.all %}                                                
                                            <a href="#">{{item}}</a>
                                            {% endfor %}                                                                                         
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="social_icons text-md-right">
                                            <li><a href="#" class="sc_facebook"><i class="ion-social-facebook"></i></a></li>
                                            <li><a href="#" class="sc_twitter"><i class="ion-social-twitter"></i></a></li>
                                            <li><a href="#" class="sc_google"><i class="ion-social-googleplus"></i></a></li>
                                            <li><a href="#" class="sc_youtube"><i class="ion-social-youtube-outline"></i></a></li>
                                            <li><a href="#" class="sc_instagram"><i class="ion-social-instagram-outline"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
				
                <div class="related_post">
                	<div class="content_title">
                    	<h5>Post relacionados</h5>
                    </div>
                    <div class="row">                        
                        {% for item in blog_relacionado %}                            
                        <div class="col-md-6">
                            <div class="blog_post blog_style2 box_shadow1">
                                <div class="blog_img">
                                    <a href="{% url 'web:blog_view' item.blog_id item.blog_titulo|slugify %}">
                                        <img src="{{item.blog_imagen.url}}" alt="blog_small_img2">
                                    </a>
                                </div>
                                <div class="blog_content bg-white">
                                    <div class="blog_text">
                                        <h5 class="blog_title"><a href="{% url 'web:blog_view' item.blog_id item.blog_titulo|slugify %}">{{item.blog_titulo}}</a></h5>
                                        <ul class="list_none blog_meta">
                                            <li><a href="#"><i class="ti-calendar"></i> {{item.blog_creado}}</a></li>
                                            <!-- <li><a href="#"><i class="ti-comments"></i> 2 Comment</a></li> -->
                                        </ul>
                                        <p>{{item.blog_descripcion}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                        {% endfor %}                            
                    	
                	</div>
                </div>
                <!-- <div class="comment-area">
                    <div class="content_title">
                        <h5>(03) Comments</h5>
                    </div>
                    <ul class="list_none comment_list">
                        <li class="comment_info">
                            <div class="d-flex">
                                <div class="comment_user">
                                    <img src="assets/images/user2.jpg" alt="user2">
                                </div>
                                <div class="comment_content">
                                    <div class="d-flex">
                                        <div class="meta_data">
                                            <h6><a href="#">Alden Smith</a></h6>
                                            <div class="comment-time">MARCH 5, 2018, 6:05 PM</div>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                        </div>
                                    </div>
                                    <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.</p>
                                </div>
                            </div>
                            <ul class="children">
                            	<li class="comment_info">
                                    <div class="d-flex">
                                        <div class="comment_user">
                                            <img src="assets/images/user3.jpg" alt="user3">
                                        </div>
                                        <div class="comment_content">
                                            <div class="d-flex align-items-md-center">
                                                <div class="meta_data">
                                                    <h6><a href="#">Daisy Lana</a></h6>
                                                    <div class="comment-time">april 8, 2018, 5:15 PM</div>
                                                </div>
                                                <div class="ml-auto">
                                                    <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                                </div>
                                            </div>
                                            <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="comment_info">
                            <div class="d-flex">
                                <div class="comment_user">
                                    <img src="assets/images/user4.jpg" alt="user4">
                                </div>
                                <div class="comment_content">
                                    <div class="d-flex">
                                        <div class="meta_data">
                                            <h6><a href="#">John Becker</a></h6>
                                            <div class="comment-time">april 15, 2018, 10:30 PM</div>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                        </div>
                                    </div>
                                    <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="content_title">
                        <h5>Write a comment</h5>
                    </div>
                    <form class="field_form" name="enq" method="post">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <input name="name" class="form-control" placeholder="Your Name" required="required" type="text">
                            </div>
                            <div class="form-group col-md-4">
                                <input name="email" class="form-control" placeholder="Your Email" required="required" type="email">
                            </div>
                            <div class="form-group col-md-4">
                                <input name="website" class="form-control" placeholder="Your Website" required="required" type="text">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea rows="3" name="message" class="form-control" placeholder="Your Comment" required="required"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button value="Submit" name="submit" class="btn btn-fill-out" title="Submit Your Message!" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        	<div class="col-xl-3 mt-4 pt-2 mt-xl-0 pt-xl-0">
            	<div class="sidebar">
                	<div class="widget">
                        <div class="search_form">
                            <form> 
                                <input required="" class="form-control" placeholder="Search..." type="text">
                                <button type="submit" title="Subscribe" class="btn icon_search" name="submit" value="Submit">
                                    <i class="ion-ios-search-strong"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                	<div class="widget">
                    	<h5 class="widget_title">Blogs recientes</h5>
                        <ul class="widget_recent_post">                            
                            {% for item in blog_reciente %}                                
                            <li>
                                <div class="post_footer">
                                    <div class="post_img">
                                        <a href="{% url 'web:blog_view' item.blog_id item.blog_titulo|slugify %}"><img src="{{item.blog_imagen.url}}" alt="letest_post1"></a>
                                    </div>
                                    <div class="post_content">
                                        <h6><a href="{% url 'web:blog_view' item.blog_id item.blog_titulo|slugify %}">{{item.blog_titulo}}</a></h6>
                                        <p class="small m-0">{{item.blog_creado}}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}                                                                                        
                    	</ul>
                    </div>
                    <div class="widget">
                        <h5 class="widget_title">Archive</h5>
                        <ul class="widget_archive">
                            <li><a href="#"><span class="archive_year">June 2019</span><span class="archive_num">(12)</span></a></li>
                            <li><a href="#"><span class="archive_year">May 2019</span><span class="archive_num">(5)</span></a></li>
                            <li><a href="#"><span class="archive_year">March 2018</span><span class="archive_num">(6)</span></a></li>
                            <li><a href="#"><span class="archive_year">January 2018</span><span class="archive_num">(7)</span></a></li>
                            <li><a href="#"><span class="archive_year">April 2017</span><span class="archive_num">(10)</span></a></li>
                        </ul>
                    </div>
                    {% for item in banners %}                        
                    <div class="widget">
                        <div class="shop_banner">
                            <div class="banner_img overlay_bg_20">
                                <img src="{{item.blog_imagen.url}}"
                                    alt="sidebar_banner_img">
                            </div>
                            <div class="shop_bn_content2 text_white">
                                <h5 class="text-uppercase shop_subtitle">{{item.blog_descripcion}}</h5>
                                <h3 class="text-uppercase shop_title">{{item.blog_titulo}}</h3>
                                <a href="{% url 'web:blog_view' item.blog_id item.blog_titulo|slugify %}" class="btn btn-white rounded-0 btn-sm text-uppercase">Detalles</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        
                    
                	<div class="widget">
                    	<h5 class="widget_title">tags</h5>
                        <div class="tags">
                            {% for item in object.blog_tags.all %}                                                                            
                        	<a href="#">General</a>
                            {% endfor %}                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION BLOG -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->

<!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->
{% endblock contenido %}
    