{% extends 'web/base_backup.html' %}
{% load humanize %}
{% block titulo %}Carrito de compra{% endblock titulo %}


{% block contenido %}
<style>
    .close_boton {
        border: none;
        padding: 0;
        background: none;
    }
</style>
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">

            {% if messages %}
            <div class="container">
                {% for message in messages %}
                <div class="row">
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}.
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">Producto</th>
                                        <th class="product-price">Precio</th>
                                        <th class="product-quantity">Cantidad</th>
                                        <th class="product-subtotal">Total</th>
                                        <th class="product-remove">Remover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in carrito %}
                                    <tr id="{{item.dcw_producto_id.producto_codigo}}">
                                        <td class="product-thumbnail"><a href="#"><img
                                                    src="{{item.dcw_producto_id.producto_imagen.url}}"
                                                    style="width: 100px; height: 111px;" alt="product1"></a></td>
                                        <td class="product-name" data-title="Product"><a
                                                href="#">{{item.dcw_producto_id.producto_nombre}}</a></td>
                                        <td class="product-price" data-title="Price">${{item.dcw_precio|intcomma}}</td>
                                        <td class="product-quantity" data-title="Quantity">
                                            <div class="quantity">
                                                <input type="button" value="-" class="minus">
                                                <input type="text" name="{{item.dcw_producto_id}}"
                                                    value="{{item.dcw_cantidad}}" title="Qty" class="qty" size="4">
                                                <input type="button" value="+" class="plus">
                                            </div>
                                        </td>
                                        <td class="product-subtotal" data-title="Total">
                                            ${{item.sub_total|floatformat:2}}
                                        </td>
                                        <td class="product-remove" data-title="Remove">
                                            <button type="button" class="close_boton"
                                                onclick="delte_item('{{item.dcw_producto_id.producto_codigo}}')"><i
                                                    class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="px-0">
                                            <div class="row no-gutters align-items-center">

                                                <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
                                                    <!-- <div class="coupon field_form input-group">
                                                    <input type="text" value="" class="form-control form-control-sm" placeholder="Enter Coupon Code..">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-fill-out btn-sm" type="submit">Apply Coupon</button>
                                                    </div>                                                    
                                                </div> -->
                                                </div>
                                                <div class="col-lg-8 col-md-6 text-left text-md-right">
                                                    <button class="btn btn-line-fill btn-sm" type="submit">Actualizar
                                                        carrito</button>
                                                    <a href="{% url 'web:checkout' %}"
                                                        class="btn btn-fill-out btn-sm">Proceder compra</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0"
                                placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit"
                                value="Submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->
{% endblock contenido %}


{% block script %}

<script>
    function delte_item(id) {
        $('#' + id).remove();
    }
</script>
{% endblock script %}