{% extends 'web/base.html' %}
{% load humanize %}
{% block titulo %}
Compras
{% endblock titulo %}

{% block contenido %}
    <section style="margin-top: 90px; margin-bottom: 90px;">
        <div class="container">

            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                {{message}}
            </div>
            {% endfor %}
            {% endif %} 

        
        {% for item in object_list %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">N° Compra: {{item.cw_id}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Status: {{item.get_cw_status_display}}</h6>
                <p>{{item.cw_fecha}}</p>
                <p>${{item.total_compra}}</p>
                <a href="{% url 'web:compras_web_detalle' item.cw_id %}" class="card-link">Detalles</a>
            </div>
          </div>
        {% endfor %}
    </div>
            
        
    </section>
{% endblock contenido %}
    