{% extends 'web/base.html' %}
{% load static humanize %}

{% block contenido %}


<!-- START SECTION BREADCRUMB -->
<!-- <div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Shop List Left Sidebar</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Shop List Left Sidebar</li>
                </ol>
            </div>
        </div>
    </div>
</div> -->
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row align-items-center mb-4 pb-1">
                        <div class="col-12">
                            <div class="product_header">
                                <div class="product_header_left">
                                    <form action="" method="get">

                                        {%for key, values in request.GET.lists%}
                                        {%for value in values%}
                                        {% if key == 'order' %}
                                        {% else %}
                                        <input type="hidden" name="{{key}}" id="" value="{{value}}">
                                        {% endif %}
                                        {%endfor%}
                                        {%endfor%}



                                        <div class="custom_select">
                                            <select class="form-control form-control-sm" name="order">
                                                <option value="default">Default</option>
                                                <!-- <option value="popularity">Sort by popularity</option> -->
                                                <option value="date_new"
                                                    {% if view.request.GET.order == 'date_new' %}selected{% endif %}>Lo
                                                    mas nuevo</option>
                                                <option value="desc"
                                                    {% if view.request.GET.order == 'desc' %}selected{% endif %}>Precio
                                                    menor a mayor</option>
                                                <option value="asc"
                                                    {% if view.request.GET.order == 'asc' %}selected{% endif %}>Precio
                                                    mayor a menor</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="product_header_right">
                                    <div class="products_view">
                                        <a href="javascript:Void(0);" class="shorting_icon grid"><i
                                                class="ti-view-grid"></i></a>
                                        <a href="javascript:Void(0);" class="shorting_icon list active"><i
                                                class="ti-layout-list-thumb"></i></a>
                                    </div>
                                    <!-- <div class="custom_select">
                                        <select class="form-control form-control-sm">
                                            <option value="">Showing</option>
                                            <option value="9">9</option>
                                            <option value="12">12</option>
                                            <option value="18">18</option>
                                        </select>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row shop_container list">

                        {% for item in object_list %}
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a
                                        href="{% url 'web:producto_detalle' item.producto_codigo item.producto_nombre|slugify %}">
                                        <img src="{{item.producto_imagen.url}}" alt="">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="#"><i
                                                        class="icon-basket-loaded"></i>Agregar</a></li>
                                            <li><a href="#" class=""><i class="icon-shuffle"></i></a></li>
                                            <li><a href="#" class=""><i class="icon-magnifier-add"></i></a>
                                            </li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a
                                            href="{% url 'web:producto_detalle' item.producto_codigo item.producto_nombre|slugify %}">{{item.producto_nombre}}</a>
                                    </h6>
                                    <div class="product_price">
                                        <span class="price">${{item.producto_precio|intcomma}}</span>
                                        <!-- <del>$55.25</del>
                                        <div class="on_sale">
                                            <span>35% Off</span>
                                        </div> -->
                                    </div>
                                    <!-- <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:80%"></div>
                                        </div>
                                        <span class="rating_num">(21)</span>
                                    </div> -->
                                    <div class="pr_desc">
                                        <p>{{item.producto_descripcion}}</p>
                                    </div>
                                    <div class="list_product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart">Marca: {{item.producto_marca|title}}</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="list_product_action_box">
                                        <ul class="list_none pr_action_btn">                                            
                                            {% if item.prducto_existencia > 0 %}
                                            <li class="add-to-cart"><a href="{% url 'web:producto_detalle' item.producto_codigo item.producto_nombre|slugify %}"><i class="icon-basket-loaded"></i>Añadir</a></li>
                                            {% else %}
                                            <li class="add-to-cart">Sin Stock</li>                                                
                                            {% endif %}
                                                
                                            <!-- <li><a href="#" class=""><i class="icon-shuffle"></i></a></li>
                                            <li><a href="#" class=""><i class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            
                        </div>
                        <div class="col-12">
                            <ul class="pagination mt-3 justify-content-center pagination_style1">
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1&{{urls_formateada.urlencode}}">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{urls_formateada.urlencode}}">&#60;</a></li>
                                {% endif %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                                {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{urls_formateada.urlencode}}">&#62;</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{urls_formateada.urlencode}}">&#187;</a></li>
                                {% endif %}
                            </ul>
                        </div>


                       

                        
                    </div>
                </div>



                <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sidebar">
                        <div class="widget">
                            <h5 class="widget_title">Categorias</h5>
                            <ul class="widget_categories">
                                <li><a href="{% url 'web:list_prod' %}"><span class="categories_name">Todo</span></a>
                                </li>
                                {% for item in area_count %}
                                <li><a {% if view.request.GET.area == item.producto_linea__l_subcat__sc_area|striptags  %}class="text-danger"
                                        {% endif %} href="?area={{item.producto_linea__l_subcat__sc_area}}"><span
                                            class="categories_name">{{item.producto_linea__l_subcat__sc_area__area_nombre|title  }}</span><span
                                            class="categories_num">({{item.total_produc}})</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- <div class="widget">
                    	<h5 class="widget_title">Filter</h5>
                        <div class="filter_price">
                            <label for="customRange1">Example range</label>
                            <input type="range" class="custom-range" id="customRange1">
                         </div>
                    </div> -->
                        <div class="widget">
                            <h5 class="widget_title">Marca</h5>
                            <form action="" method="get" id="form_marca">



                                {%for key, values in request.GET.lists%}
                                {%for value in values%}
                                {% if key == 'marca' %}
                                {% else %}
                                <input type="hidden" name="{{key}}" id="" value="{{value}}">
                                {% endif %}
                                {%endfor%}
                                {%endfor%}

                                <ul class="list_brand">
                                    <li>
                                        {% for item in marca_object_list %}
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="marca"
                                                id="{{item.producto_marca}}" value="{{item.producto_marca}}"
                                                {% if item.producto_marca|striptags in marca_lista %} checked
                                                {% endif %}>
                                            <label class="form-check-label"
                                                for="{{item.producto_marca}}"><span>{{item.producto_marca__marca_nombre|upper}}</span></label>
                                        </div>
                                        {% endfor %}
                                    </li>
                                </ul>

                            </form>
                        </div>
                        <!-- <div class="widget">
                    	<h5 class="widget_title">Size</h5>
                        <div class="product_size_switch">
                            <span>xs</span>
                            <span>s</span>
                            <span>m</span>
                            <span>l</span>
                            <span>xl</span>
                            <span>2xl</span>
                            <span>3xl</span>
                        </div>
                    </div> -->
                        <!-- <div class="widget">
                    	<h5 class="widget_title">Color</h5>
                        <div class="product_color_switch">
                            <span data-color="#87554B"></span>
                            <span data-color="#333333"></span>
                            <span data-color="#DA323F"></span>
                            <span data-color="#2F366C"></span>
                            <span data-color="#B5B6BB"></span>
                            <span data-color="#B9C2DF"></span>
                            <span data-color="#5FB7D4"></span>
                            <span data-color="#2F366C"></span>
                        </div>
                    </div> -->
                        <div class="widget">
                            <div class="shop_banner">
                                <div class="banner_img overlay_bg_20">
                                    <img src="{% static 'web/assets/images/sidebar_banner_img.jpg' %}"
                                        alt="sidebar_banner_img">
                                </div>
                                <div class="shop_bn_content2 text_white">
                                    <h5 class="text-uppercase shop_subtitle">New Collection</h5>
                                    <h3 class="text-uppercase shop_title">Sale 30% Off</h3>
                                    <a href="#" class="btn btn-white rounded-0 btn-sm text-uppercase">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0"
                                placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit"
                                value="Submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->
{% endblock contenido %}


{% block script %}
<script>
    $('form').on('change', function () {
        this.submit()
    });
</script>
{% endblock script %}