{% extends 'web/base.html' %}
{% load humanize %}

{% block titulo %}
{{object.producto_nombre}}
{% endblock titulo %}

{% block SEO %}
<!-- Open Graph / Facebook -->

<meta property="og:type" content="product">
<meta property="og:title" content="{{object.producto_nombre}}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.producto_imagen.url}}">
<meta property="product:price:amount" content="{{object.producto_precio|intcomma}}">
<meta property="product:price:currency" content="MXN">

<!-- Twitter -->
<meta name="twitter:card" content="product">
<!-- <meta name="twitter:site" content="@"> -->
<meta name="twitter:title" content="{{object.producto_nombre}}">
<meta name="twitter:description" content="{{object.producto_descripcion}}.">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.producto_imagen.url}}">
<meta name="twitter:label1" content="Stock:{{object.prducto_existencia}}">
<meta name="twitter:data1" content="${{object.producto_precio|intcomma}}">
<meta name="twitter:label2" content="Marca:{{object.producto_marca}}">
<meta name="twitter:data2" content="Linea:{{object.producto_linea}}">


<!-- Marcado JSON-LD generado por el Asistente para el marcado de datos estructurados de Google. -->

<script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Product",
          "brand": {
            "@type": "Thing",
            "name": "{{object.producto_marca}}"
            <!-- "logo" : "http://www.googleusercontent.com/imaginaryTeachingToolUrl" -->
          },
          "name": "{{object.producto_nombre}}",
          "image": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.producto_imagen.url}}",
          "description": "{{object.producto_descripcion}}",
          "productId": "sku:{{object.producto_codigo}}",
          "offers": {
            "@type": "AggregateOffer",
            "priceCurrency" : "MXN",
            "lowPrice": "{{object.producto_precio|intcomma}}",
            "itemCondition": "new"
          }
        }
        </script>
{% endblock SEO %}

{% block contenido %}

<!-- START SECTION BREADCRUMB -->
<!-- <div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Product Detail Thumbnails Left</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Product Detail Thumbnails Left</li>
                </ol>
            </div>
        </div>
    </div>
</div> -->
<!-- END SECTION BREADCRUMB -->
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="row">
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
            {{ message }}.
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <div class="product-image vertical_gallery">
                        <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-vertical="true"
                            data-vertical-swiping="true" data-slides-to-show="5" data-slides-to-scroll="1"
                            data-infinite="false">

                            {% for item in object.producto_galeria.all %}
                            <div class="item">
                                <a href="#" class="product_gallery_item active" data-image="{{item.ga_foto.url}}"
                                    data-zoom-image="{{item.ga_foto.url}}">
                                    <img src="{{item.ga_foto.url}}" alt="{{item.ga_alt}}" />
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="product_img_box">
                            <img id="product_img" src='{{object.producto_imagen.url}}'
                                data-zoom-image="{{object.producto_imagen.url}}" alt="product_img1" />
                            <a href="#" class="product_img_zoom" title="Zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title"><a href="#">{{object.producto_nombre}}</a></h4>

                            <div class="product_price">
                                <span class="price">${{object.producto_precio|intcomma}}</span>
                                <!-- <del>$55.25</del>
                                    <div class="on_sale">
                                        <span>35% Off</span>
                                    </div> -->
                            </div>


                            <!-- <div class="rating_wrap">
                                <div class="rating">
                                    <div class="product_rate" style="width:80%"></div>
                                </div>
                                <span class="rating_num">(21)</span>
                            </div> -->

                            <div class="pr_desc">
                                <p>{{object.producto_descripcion|lower|striptags}}</p>
                            </div>

                            <!-- <div class="product_sort_info">
                                <ul>
                                    <li><i class="linearicons-shield-check"></i> 1 Year AL Jazeera Brand Warranty</li>
                                    <li><i class="linearicons-sync"></i> 30 Day Return Policy</li>
                                    <li><i class="linearicons-bag-dollar"></i> Cash on Delivery available</li>
                                </ul>
                            </div>
                            <div class="pr_switch_wrap">
                                <span class="switch_lable">Color</span>
                                <div class="product_color_switch">
                                    <span class="active" data-color="#87554B"></span>
                                    <span data-color="#333333"></span>
                                    <span data-color="#DA323F"></span>
                                </div>
                            </div>
                            <div class="pr_switch_wrap">
                                <span class="switch_lable">Size</span>
                                <div class="product_size_switch">
                                    <span>xs</span>
                                    <span>s</span>
                                    <span>m</span>
                                    <span>l</span>
                                    <span>xl</span>
                                </div>
                            </div> -->
                        </div>
                        <hr />
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="cart_extra">
                                <div class="cart-product-quantity">
                                    <div class="quantity">
                                        <input type="button" value="-" class="minus">
                                        <input type="text" name="quantity" value="1" title="Qty" class="qty"
                                            max="{{object.prducto_existencia}}">
                                        <input type="button" value="+" class="plus">
                                    </div>
                                </div>
                                <div class="cart_btn">
                                    <button class="btn btn-fill-out btn-addtocart" type="submit"><i
                                            class="icon-basket-loaded"></i> Agregar</button>
                                    <a class="add_compare" href="#"><i class="icon-shuffle"></i></a>
                                    <a class="add_wishlist" href="#"><i class="icon-heart"></i></a>
                                </div>
                            </div>
                        </form>
                        <hr />
                        <ul class="product-meta">
                            <li>SKU: <a href="#">{{object.producto_codigo}}</a></li>
                            <li>Marca: <a href="#">{{object.producto_marca}}</a></li>
                            <li>Linea: <a href="#" rel="tag">{{object.producto_linea}}</a></li>
                        </ul>

                        <div class="product_share">
                            <span>Compartir:</span>
                            <ul class="social_icons">
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                        target="_blank"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&amp;text=Mira este producto {{object.producto_nombre}}"
                                        target="_blank"><i class="ion-social-twitter"></i></a></li>
                                <!-- <li><a href="#" target="_blank"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#" target="_blank"><i class="ion-social-youtube-outline"></i></a></li> -->
                                <li><a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}"
                                        target="_blank"><i class="ion-social-whatsapp-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="large_divider clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-style3">
                        <ul class="nav nav-tabs" role="tablist">
                           
                            <li class="nav-item">
                                <a class="nav-link active" id="Additional-info-tab" data-toggle="tab" href="#Additional-info"
                                    role="tab" aria-controls="Additional-info" aria-selected="false">Información
                                    adicional</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab"
                                    aria-controls="Reviews" aria-selected="false">Reviews (2)</a>
                            </li> -->
                        </ul>
                        <div class="tab-content shop_info_tab">
                            
                            <div class="tab-pane fade show active" id="Additional-info" role="tabpanel"
                                aria-labelledby="Additional-info-tab">
                                {{object.producto_descripcion_web|safe}}
                            </div>
                            <!-- <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
                                <div class="comments">
                                    <h5 class="product_tab_title">2 Review For <span>Blue Dress For Woman</span></h5>
                                    <ul class="list_none comment_list mt-4">
                                        <li>
                                            <div class="comment_img">
                                                <img src="assets/images/user1.jpg" alt="user1" />
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width:80%"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta">
                                                    <span class="review_author">Alea Brooks</span>
                                                    <span class="comment-date">March 5, 2018</span>
                                                </p>
                                                <div class="description">
                                                    <p>Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean
                                                        sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                                        ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet
                                                        nibh vulputate</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment_img">
                                                <img src="assets/images/user2.jpg" alt="user2" />
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width:60%"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta">
                                                    <span class="review_author">Grace Wong</span>
                                                    <span class="comment-date">June 17, 2018</span>
                                                </p>
                                                <div class="description">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content of a page when looking at its layout. The
                                                        point of using Lorem Ipsum is that it has a more-or-less normal
                                                        distribution of letters</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="review_form field_form">
                                    <h5>Add a review</h5>
                                    <form class="row mt-3">
                                        <div class="form-group col-12">
                                            <div class="star_rating">
                                                <span data-value="1"><i class="far fa-star"></i></span>
                                                <span data-value="2"><i class="far fa-star"></i></span>
                                                <span data-value="3"><i class="far fa-star"></i></span>
                                                <span data-value="4"><i class="far fa-star"></i></span>
                                                <span data-value="5"><i class="far fa-star"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-12">
                                            <textarea required="required" placeholder="Your review *"
                                                class="form-control" name="message" rows="4"></textarea>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input required="required" placeholder="Enter Name *" class="form-control"
                                                name="name" type="text">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input required="required" placeholder="Enter Email *" class="form-control"
                                                name="email" type="email">
                                        </div>

                                        <div class="form-group col-12">
                                            <button type="submit" class="btn btn-fill-out" name="submit"
                                                value="Submit">Submit Review</button>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="small_divider"></div>
                    <div class="divider"></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="heading_s1">
                        <h3>Productos relacionados</h3>
                    </div>
                    <div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20"
                        data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                        {% for item in prod_relacionado %}
                        <div class="item">
                            <div class="product">
                                <div class="product_img">
                                    <a
                                        href="{% url 'web:producto_detalle' item.producto_codigo item.producto_nombre|slugify %}">
                                        <img src="{{item.producto_imagen.url}}" alt="product_img1">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> Add
                                                    To Cart</a></li>
                                            <li><a href="shop-compare.html"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="//bestwebcreator.com/shopping-zone/demo/shop-quick-view.html"
                                                    class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a
                                            href="{% url 'web:producto_detalle' item.producto_codigo item.producto_nombre|slugify %}">{{item.producto_nombre}}</a>
                                    </h6>
                                    <div class="product_price">
                                        <span class="price">${{item.producto_precio|intcomma}}</span>
                                        <!-- <del>$55.25</del>
                                        <div class="on_sale">
                                            <span>35% Off</span>
                                        </div> -->
                                    </div>
                                    <!-- <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:80%"></div>
                                        </div>
                                        <span class="rating_num">(21)</span>
                                    </div> -->
                                    <div class="pr_desc">
                                        <p>{{item.producto_descripcion}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}





                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Suscríbase A Nuestro Boletín</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0"
                                placeholder="Introducir la dirección de correo electronico">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit"
                                value="Submit">Suscríbase</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->
{% endblock contenido %}