{% extends 'web/base.html' %}
{% load humanize %}
{% block titulo %}
Carro de compras
{% endblock titulo %}
{% block contenido %}

<section style="margin-top: 90px; margin-bottom: 90px;">
    <div class="px-4 px-lg-0">



        <div class="container">
            <div class="row">
                <!-- Shopping cart table -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase">#</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="p-2 px-3 text-uppercase">Producto</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Precio</div>
                                </th>
                                <th scope="col" class="border-0 bg-light">
                                    <div class="py-2 text-uppercase">Cantidad</div>
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in carrito %}
                            <tr>
                                <td class="border-0 align-middle"><strong>{{ forloop.counter }}</strong></td>
                                <th scope="row" class="border-0">
                                    <div class="p-2">
                                        <img src="{{item.dcw_producto_id.producto_imagen.url}}" alt="" width="70"
                                            class="img-fluid rounded shadow-sm">
                                        <div class="ml-3 d-inline-block align-middle">
                                            <h5 class="mb-0"> <a href="{% url 'web:producto_detalle' item.dcw_producto_id %}?{{view.request.GET.urlencode}}"
                                                    class="text-dark d-inline-block align-middle">{{item.dcw_producto_id.producto_nombre}}</a>
                                            </h5><span class="text-muted font-weight-normal font-italic d-block">Linea:
                                                {{item.dcw_producto_id.producto_area}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="border-0 align-middle"><strong>${{item.dcw_precio}}</strong></td>
                                <td class="border-0 align-middle"><strong>{{item.dcw_cantidad}}</strong></td>
                                
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5"><h3>No ha agregado producto al carro de compras</h3></td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End -->

            </div>

            <div class="row justify-content-center">
                <!-- <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
                <div class="p-4">
                  <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                  <div class="input-group mb-4 border rounded-pill p-2">
                    <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
                    <div class="input-group-append border-0">
                      <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
                    </div>
                  </div>
                </div>
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
                <div class="p-4">
                  <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
                  <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                </div>
              </div> -->
                <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">RESUMEN DE PEDIDO</div>
                    <div class="p-4">
                        
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Subtotal de Orden
                                </strong><strong>${{subtotal|floatformat:2}}</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Envío y manipulación</strong><strong>$00.00</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Impuesto</strong><strong>${{iva|floatformat:2}}</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Total</strong>
                                <h5 class="font-weight-bold">${{total|floatformat:2}}</h5>
                            </li>
                        </ul>
                        
                       
                            
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
{% endblock contenido %}



{% block script %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function delete_car_item(id) {
       
        swal({
            title: "Estas segur@?",
            text: "Desea eliminar este producto de su carrito de compras!",
            icon: "warning",
            buttons: {
                ok: {
                    text: 'Si!',
                    value: true
                },
                catch: {
                    text: "No!",
                    value: false,
                },

            }
        }

        )
            .then((value) => {
                switch (value) {
                    case false:
                        break;
                    case true:
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                    axios.post('{% url "web:delete_item" %}', {
                    producto: id,
                })
                    .then(function (response) {
                        swal("Producto", "Eliminado correctamente! "+response.data.delete, "success");
                        // shop = document.getElementById("conteo_shop");
                        // shop.innerHTML=response.data.shoping
                        
                        setTimeout(function() {location.reload();}, 2000);
                        
                    })
                    .catch(function (error) {
                        swal("Mal!", "Ha ocurrido un error intente nuevamente", "error");
                    });
                        
                }
            });
    }
</script>
{% endblock script %}