{% extends 'web/base.html' %}
{% load humanize %}
{% block titulo %}
Domicilios
{% endblock titulo %}

{% block contenido %}
<div id="app">
    <section style="margin-top: 90px; margin-bottom: 90px;"> 
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="bg-light rounded-pill text-uppercase font-weight-bold d-flex justify-content-between py-3 border-bottom">Domiciolios
                    <a href="{% url 'web:dom_crear' %}" class="btn btn-success">Añadir</a>
                </div>

                <ul class="list-unstyled mb-4">
                    {% for item in object_list %}
                    <li class="d-flex justify-content-between py-3 border-bottom {% if item.dom_activo %}list-group-item-success{% endif %}"><strong class="text-muted">{{item.str_domicilio}}
                        </strong><strong><a href="{% url 'web:dom_update' item.id %}" type="button" class="btn btn btn-primary">Editar</a></strong></li>
                    {% endfor %}
                </ul>

            </div>
        </div>

    </section>
</div>
{% endblock contenido %}