{% extends 'web/base.html' %}
{% load humanize %}
{% block titulo %}
Domicilio crear
{% endblock titulo %}


{% block contenido %}
<div id="app">
    <section style="margin-top: 90px; margin-bottom: 90px;">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Domiciolio</div>
                <div class="p-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input class="btn btn-primary" type="submit" value="Guardar">
                    </form>
                            
                </div>
            </div>
        </div>
        
    </section>
</div>
{% endblock contenido %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
     var app = new Vue({
        el: '#app',
        data: {
            code_postal: '',
            Estado: '',
            Delegacion: '',
        },
        methods: {
            post_item: function () {
                axios.get('https://api-sepomex.hckdrk.mx/query/info_cp/'+this.code_postal+'?type=simplified')
                    .then(function (response) {
                        app.Delegacion=response.data.response.municipio
                        app.Estado=response.data.response.estado
                                     
                    })
                    .catch(function (error) {
                        swal("Mal!", 'Favor de escribir un C.P correcto', "error");
                        app.Delegacion=''
                        app.Estado=''
                    });
            }
        },
        delimiters: ["[[", "]]"]
    })
</script>
{% endblock script %}
    
    