{% extends 'web/base.html' %}
{% load humanize %}
{% block titulo %}
{{object.producto_nombre}}
{% endblock titulo %}


{% block head %}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="article">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:title" content="Computel | {{object.producto_nombre}}">
<meta property="og:description" content="{{object.producto_descripcion}}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.producto_imagen.url}}">

<!-- Twitter -->


<meta name="twitter:card" content="summary_large_image">
<!-- <meta name="twitter:site" content="@nytimes">
<meta name="twitter:creator" content="@SarahMaslinNir"> -->
<meta name="twitter:title" content="{{object.producto_nombre}}">
<meta name="twitter:description" content="{{object.producto_descripcion}}.">
<meta name="twitter:image" content="{{object.producto_imagen.url}}">


<!-- Marcado JSON-LD generado por el Asistente para el marcado de datos estructurados de Google. -->
<script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Product",
      "name" : "{{object.producto_nombre}}",
      "image" : "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{object.producto_imagen.url}}",
      "description" : "{{object.producto_descripcion}}",
      "url" : "{{ request.build_absolute_uri }}",
      "brand" : {
        "@type" : "Brand",
        "name" : "{{object.producto_marca}}",
        <!-- "logo" : "http://www.googleusercontent.com/imaginaryTeachingToolUrl" -->
      },
      "offers" : {
        "@type" : "Offer",
        "price" : "${{object.producto_precio}}"
      }
    }
    </script>
{% endblock head %}



{% block contenido %}
<div id="app">
    <section style="margin-top: 90px; margin-bottom: 90px;">
        <h1></h1>
        <div class="container">
            <h1>{{object.producto_nombre}}</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <img src="{{object.producto_imagen.url}}" alt="{{object.producto_nombre}}" class="img-thumbnail">
                </div>
                <div class="col-lg-6">


                    <!-- Product Price  -->
                    <div class="form-group price_elem row">
                        <label class="col-sm-3 col-md-3 form-control-label nopaddingtop">Precio:</label>
                        <div class="col-sm-8 col-md-9">

                            {% if user.is_authenticated  %}
                            <span class="product-form-price" id="product-form-price">
                                <h6>${{object.producto_precio}}</h6>
                            </span>
                            {% else %}
                            <a href="">$***** Registrarse</a>
                            {% endif %}

                        </div>
                    </div>







                    <div class="form-group row">
                        <label for="Quantity" class="col-sm-3 col-md-3 form-control-label">Cantidad:</label>
                        <div class="col-sm-8 col-md-9">
                            {% if user.is_authenticated  %}
                            {% if object.prducto_existencia > 0 %}
                            <input type="number" class="qty form-control" v-model="cantidad_prod" value="1" min="1"
                                max="{{object.prducto_existencia}}">
                            {% else %}
                            <input type="text" class="form-control" value="1" min="1"
                                max="{{object.prducto_existencia}}" disabled>
                            {% endif %}

                            {% else %}
                            <input type="text" class="form-control" value="1" min="1"
                                max="{{object.prducto_existencia}}" disabled>
                            {% endif %}

                        </div>
                    </div>


                    <!-- <div class="form-group qty-select row">
                            <label for="Quantity" class="col-sm-3 col-md-3 form-control-label">Tamaño:</label>
                            <div class="col-sm-8 col-md-9">
                                <select id="1303358" name="1303358" class="form-control prod-options">
                                    <option data-variant-stock="999" data-variant-id="9442378" value="3387336">1 Persona</option>
                                    <option data-variant-stock="999" data-variant-id="9442379" value="3387337">2 Personas</option>
                                </select>
                            </div>
                          </div>
                          
                          <div class="form-group qty-select row">
                            <label for="Quantity" class="col-sm-3 col-md-3 form-control-label">Adicional:</label>
                            <div class="col-sm-8 col-md-9">
                                <select id="1304059" name="1304059" class="form-control prod-options">
                                    <option data-variant-stock="999" data-variant-id="9412720" value="3389879">-</option>
                                    <option data-variant-stock="999" data-variant-id="9442377" value="3389880">Miel 250 gramos</option>
                                    <option data-variant-stock="999" data-variant-id="9442379" value="3389881">mantequilla de mani 250 gramos</option>
                                </select>
                            </div>
                          </div> -->





                    {% if object.prducto_existencia > 0 %}

                    <div class="form-group product-stock product-available row visible">
                        <label class="col-sm-3 col-md-3 form-control-label"></label>
                        <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-3">

                            {% if user.is_authenticated  %}
                            <input type="submit" class="adc btn btn-primary" v-on:click="post_item" value="Agregar al Carro de Compras">
                            {% endif %}

                            <a href="{% url 'web:list_prod' %}?{{view.request.GET.urlencode}}#{{view.kwargs.pk}}" class="btn btn-link btn-sm" title="Continúa Comprando">←
                                Continúa Comprando</a>
                        </div>
                    </div>

                    {% else %}
                    <!-- Out of Stock -->
                    <div class="form-group product-stock product-out-stock row hidden" wfd-invisible="true">
                        <label class="col-sm-3 col-md-3 form-control-label">Disponibilidad:</label>
                        <div class="col-sm-8 col-md-9">
                            <span class="product-form-price">Agotado</span>
                            <p>Este producto se ha quedado sin stock. Puedes consultarnos al respecto.</p>
                            <a href="{% url 'web:inicio' %}#contact" class="btn btn-secondary btn-sm"
                                title="Contáctanos">Contáctanos</a>
                            <a href="{% url 'web:list_prod' %}?{{view.request.GET.urlencode}}#{{view.kwargs.pk}}" class="btn btn-link btn-sm"
                                title="← Continue Comprando">← Continue Comprando</a>
                        </div>
                    </div>

                    {% endif %}


                    <!-- Not Available -->
                    <!-- <div class="form-group product-stock product-unavailable row hidden" wfd-invisible="true">
                          <label class="col-sm-3 col-md-3 form-control-label">Disponibilidad:</label>
                          <div class="col-sm-8 col-md-9">
                            <span class="product-form-price">No Disponible</span>
                            <p>Este producto no está disponible. Puedes consultarnos al respecto.</p>
                            <a href="/contact" class="btn btn-secondary btn-sm" title="Contáctanos">Contáctanos</a>
                            <a href="javascript:history.back()" class="btn btn-link btn-sm" title="← Continue Comprando">← Continue Comprando</a>
                          </div>
                        </div> -->




                    <hr>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 form-control-label">Stock:</label>
                        <div class="col-sm-8 col-md-9 description">
                            <h5>{{object.prducto_existencia|intcomma}}</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 form-control-label">Descripción:</label>
                        <div class="col-sm-8 col-md-9 description">

                            {% if object.producto_descripcion_web != None and object.producto_descripcion_web != '' %}
                            {{object.producto_descripcion_web|safe}}
                            {% else %}
                            {{object.producto_descripcion}}
                            {% endif %}

                        </div>
                    </div>

                    <hr>

                    <div id="product-sharing" class="row">
                        <label class="col-sm-3 col-md-3 ">Compartir:</label>
                        <ul class="list-inline social-networks col-sm-9 col-md-9">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                    class="has-tip tip-top radius button tiny button-facebook trsn"
                                    title="Compartir en Facebook" target="_blank" data-tooltip="">
                                    <i class="fa fa-facebook"></i>

                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a href="https://twitter.com/share?url={{ request.build_absolute_uri }}&amp;text=Mira este producto {{object.producto_nombre}}"
                                    class="has-tip tip-top radius button tiny button-twitter trsn"
                                    title="Compartir en Twitter" target="_blank" data-tooltip="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>


                            <li class="list-inline-item">
                                <a id="whatsapp" class="has-tip tip-top radius button tiny button-whats trsn"
                                    href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}"
                                    wfd-invisible="true">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                            </li>
                        </ul>
                    </div>




                </div>
            </div>
        </div>
    </section>
</div>

{% endblock contenido %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            cantidad_prod: 1,
            code_producto: "{{view.kwargs.pk}}"
        },
        methods: {
            post_item: function () {
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

                axios.post('{% url "web:add_producto" %}', {
                    producto: this.code_producto,
                    cantidad: this.cantidad_prod,
                })
                    .then(function (response) {
                        swal("Producto", response.data.ok, "success");
                        shop = document.getElementById("conteo_shop");
                        shop.innerHTML=response.data.shoping
                        
                    })
                    .catch(function (error) {
                        if (!error.response) {
                            swal("Mal!", 'Verifique su conexion de internet', "error");
                        }else{
                            swal("Mal!", error.response.data.msn, "error");
                        }
                    });
            }
        },
        delimiters: ["[[", "]]"]
    })
</script>
{% endblock script %}