{% extends 'index/base.html'%}
{% block contenido %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">Inicio</a></li> 
    <li class="breadcrumb-item"><a href="{% url 'proveedor:factura_lista' %}">Facturas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pago</li>
  </ol>
</nav>

<div class="container">
  <form method="post" class="col-sm-4" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-outline-success">Guardar</button>
  </form>


  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">PDF</th>
      <th scope="col">MONTO</th>
      <th scope="col">METODO</th>
      <th scope="col">CREADO</th>
      <th scope="col">RESTA</th>
      <th scope="col">ACCION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        {% if pago.pago_pdf != None %}
        <a href="{{pago.pago_pdf.url}}">PDF</a>
        {% endif %}
      </th>
      <td>{{pago.pago_monto}}</td>
      <td>{{pago.pago_metodo}}</td>
      <td>{{pago.pago_creado}}</td>
      <td>{{pago.Resta}}</td>
      <td>
      
      {% if pago.pago_id != None %}
      <a title="Complemento" class="btn btn-outline-success btn-sm" href="{% url 'proveedor:complemento_crear' pago.pago_id %}"  role="button"><i class="material-icons">payment</i></a>
      <a class="btn btn-outline-warning btn-sm" href="{% url 'proveedor:pago_edicion' pago.pago_id %}" role="button"><i class="material-icons">edit</i></a>
      <a class="btn btn-outline-danger btn-sm" href="{% url 'proveedor:pago_eliminar' pago.pago_id %}" role="button"><i class="material-icons">delete_forever</i></a>
      {% endif %}
      </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock contenido %}
