{% extends 'index/base.html'%}
{% block contenido %}
{% load staticfiles %}
{% comment %} <div class="container">
    <div class="row justify-content-md-end">
        <a class="btn btn-success btn-sm" href="{% url 'proveedor:factura_crear' %}" role="button">Agregar</a>
    </div>
    <br>
</div> {% endcomment %}

<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col"> <small>FACTURA</small> </th>
                <th scope="col"><small>PDF</small></th>
                <th scope="col"><small>MONTO</small></th>
                <th scope="col"><small>MÉTODO</small></th>
                <th scope="col"><small>CREADO</small></th>
                <th scope="col"><small>ACCIÓN</small></th>
            </tr>
        </thead>
        <tbody>
            {% for factura in object_list %}
            <tr>

                <td><small>{{factura.pago_id}}</small></td>
                <td><small>{{factura.pago_factura}}</small></td>
                <td><small><a href="{{factura.pago_pdf.url }}">pdf</a></small></td>
                <td><small>{{factura.pago_monto}}</small></td>
                <td><small>{{factura.pago_metodo}}</small></td>
                <td><small>{{factura.pago_creado}}</small></td>
                <td><small>
                        <a title="Complemento" class="btn btn-outline-success btn-sm" href=""  role="button"><i class="material-icons">payment</i></a>
                        <a class="btn btn-outline-warning btn-sm" href="{% url 'proveedor:pago_edicion' factura.pago_id %}" role="button"><i class="material-icons">edit</i></a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'proveedor:pago_eliminar' factura.pago_id %}" role="button"><i class="material-icons">delete_forever</i></a>
                    </small></td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


<div class="row justify-content-md-center">

    {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i
                        class="material-icons">
                        navigate_before
                    </i></a></li>
            {% endif %}
            <span class="page-link">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                <span class="sr-only">(current)</span>
            </span>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i
                        class="material-icons">
                        navigate_next
                    </i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endblock %}

</div>
{% endblock %}