{% extends 'index/base.html'%}
{% block pagosRentas %}open{% endblock pagosRentas %}
{% block contenido %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">Inicio</a></li> 
    <li class="breadcrumb-item"><a href="{% url 'proveedor:contrato_listar' %}">Contratos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pago</li>
  </ol>
</nav>

<div class="container">
  <!-- <form method="post" class="col-sm-4" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-outline-success">Guardar</button>
  </form> -->


  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">PDF</th>
      <th scope="col">NOTA</th>
      <th scope="col">MONTO</th>
      <th scope="col">MÉTODO</th>
      <th scope="col">CREADO</th>
      <th scope="col">FAC PDF</th>
      <th scope="col">FAC XML</th>
      <th scope="col">ACCIÓN</th>
    </tr>
  </thead>
  <tbody>
  {% for pago in pagos %}
    <tr>
      <td>{{pago.pago_id}}</td>
      <th scope="row">
        {% if pago.pago_pdf != "" %}
        <a href="{{pago.pago_pdf.url}}">PDF</a>
        {% endif %}
      </th>
      <td>{{pago.pago_observacion}}</td>
      <td>{{pago.pago_monto}}</td>
      <td>{{pago.pago_metodo}}</td>
      <td>{{pago.pago_creado}}</td>
      <td>{% if pago.factura_pdf != "" %}
        <a href="{{pago.factura_pdf.url}}">PDF</a>
        {% endif %}</td>
      <td>{% if pago.factura_xml != "" %}
        <a target="_blank" href="{{pago.factura_xml.url}}">XML</a>
        {% endif %}</td>
      <td>
      
      {% if pago.pago_id != None %}
      <a class="btn btn-outline-warning btn-sm" href="{% url 'proveedor:pago_edicion' pago.pago_id %}" role="button"><i class="material-icons">edit</i></a>
      <a class="btn btn-outline-info btn-sm" href="{% url 'proveedor:pago_observacion' pago.pago_id %}" role="button"><i class="material-icons">assignment</i></a>
      <a class="btn btn-outline-danger btn-sm" href="{% url 'proveedor:pago_eliminar' pago.pago_id view.kwargs.pk %}" role="button"><i class="material-icons">delete_forever</i></a>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock contenido %}
