{% extends 'index/base.html'%}
{% block contenido %}
{% load staticfiles %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contartos</li>
  </ol>
</nav>
<a href="?autorizado=True">Autorizado</a>
<a href="?autorizado=False">No Autorizado</a>

{% if perms.pago_proveedor.add_contrato %}
<div class="row">
    <div class="col">
        <span class="float-right">
        <a class="btn btn-secondary btn-sm" href="{% url 'proveedor:contrato_nuevo' %}" role="button">Añadir</a>
        </span>
    </div>
</div>
{% endif %}

  <div class="row">
    <div class="col">
      <div class="float-right">
          <a class="btn btn-primary btn-sm" href="{% url 'proveedor:nuevo_excel' %}" role="button"><i class="material-icons">cloud_download</i></a>
          <!-- <a class="btn btn-primary btn-sm" href="?descargar=pdf" role="button"><i class="material-icons">cloud_download</i></a> -->
      </div>
    </div>
  </div>


  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"> <small>PROVEEDOR</small> </th>
        <th scope="col"><small>DOCUMENTO</small></th>
        <th scope="col"><small>SUCURSAL</small></th>
        <th scope="col"><small>INICIO</small></th>
        <th scope="col"><small>TERMINO</small></th>
        <th scope="col"><small>DIAS DE PAGO</small></th>
        <th scope="col"><small>DIRECCION</small></th>
        <th scope="col"><small>MONTO</small></th>
        <th scope="col"><small>AUTORIZADO</small></th>
        <th scope="col"><small>STATUS</small></th>
        <th scope="col"><small>ACCION</small></th>
      </tr>
    </thead>
    <tbody>
      {% for contrato in object_list %}
      <tr>
        <th scope="row"><small>{{contrato.contrato_id}}</small></th>
        <td><small>{{contrato.contrato_proveedor_id}}</small></td>
        <td><small><a href="{{contrato.contrato_documento.url }}">PDF</a></small></td>
        <td><small>{{contrato.contrato_sucursal}}</small></td>
        <td><small>{{contrato.contrato_fecha_inicio}}</small></td>
        <td><small>{{contrato.contrato_fecha_termino}}</small></td>
        <td><small>{{contrato.contrato_dias_pago}}</small></td>
        <td><small>{{contrato.contrato_direccion}}</small></td>
        <td><small>{{contrato.contrato_monto}}</small></td>
        <td><small>
        {% comment %} condicion de contrato autorizado {% endcomment %}
        {% if  contrato.contrato_autorizado %}
        <i class="material-icons">done_outline</i>
        {% else %}
        <i class="material-icons">cancel</i>
        {% endif %}
        </small></td>
        {% comment %} -------------------------------------------------------- {% endcomment %}

        {% comment %} condicion de contrato status {% endcomment %}
        <td><small>
        {% if  contrato.contrato_status %}
        <i class="material-icons">done_outline</i>
        {% else %}
        <i class="material-icons">cancel</i>
        {% endif %}
        </small></td>
        {% comment %} --------------------------------------------------------------------- {% endcomment %}
        <td><small>
        <a class="btn btn-outline-warning btn-sm" href="{% url 'proveedor:contrato_edicion' contrato.contrato_id %}" role="button"><i class="material-icons">edit</i></a>
        <a class="btn btn-outline-danger btn-sm" href="{% url 'proveedor:contrato_eliminar' contrato.contrato_id %}" role="button"><i class="material-icons">delete_forever</i></a>
        </small></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<div class="row justify-content-md-center">

  {% block pagination %}
  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="material-icons">
            navigate_before
          </i></a></li>
      {% endif %}
      <span class="page-link">
        Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        <span class="sr-only">(current)</span>
      </span>
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="material-icons">
            navigate_next
          </i></a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  {% endblock %}

</div>
{% endblock %}
