{% extends 'index/base.html'%}
{% load staticfiles %}
{% block contenido %}

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col"> <small>PROVEEDOR</small> </th>
        <th scope="col"><small>DOCUMENTO</small></th>
        <th scope="col"><small>INICIO</small></th>
        <th scope="col"><small>TERMINO</small></th>
        <th scope="col"><small>DIAS DE PAGO</small></th>
        <th scope="col"><small>DIRECCION</small></th>
        <th scope="col"><small>MONTO</small></th>
        <th scope="col"><small>AUTORIZADO</small></th>
        <th scope="col"><small>STATUS</small></th>
      </tr>
    </thead>
    <tbody>
      {% for contrato in object_list %}
      <tr>
        <th scope="row"><small>{{contrato.contrato_id}}</small></th>
        <td><small>{{contrato.contrato_proveedor_id}}</small></td>
        <td><small><a href="{% static contrato.contrato_documento%}">doc</a></small></td>
        <td><small>{{contrato.contrato_fecha_inicio}}</small></td>
        <td><small>{{contrato.contrato_fecha_termino}}</small></td>
        <td><small>{{contrato.contrato_dias_pago}}</small></td>
        <td><small>{{contrato.contrato_direccion}}</small></td>
        <td><small>{{contrato.contrato_monto}}</small></td>
        <td><small>{{contrato.contrato_autorizado}}</small></td>
        <td><small>{{contrato.contrato_status}}</small></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<div class="row justify-content-md-center">

  {% block pagination %}
  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="material-icons">
            navigate_before
          </i></a></li>
      {% endif %}
      <span class="page-link">
        Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        <span class="sr-only">(current)</span>
      </span>
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="material-icons">
            navigate_next
          </i></a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  {% endblock %}

</div>
{% endblock %}
