{% extends 'index/base.html' %}
{% load humanize %}

{% block contenido %}
<div class="container">

    <div class="row">
        <form action="" method="GET">
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="venta_e_fecha_pedido_init">Inicial</label>
                    <input type="date" class="form-control" id="venta_e_fecha_pedido_init"
                        name="venta_e_fecha_pedido_init" value="{{view.request.GET.venta_e_fecha_pedido_init}}">
                    <small id="venta_e_fecha_pedido_init" class="form-text text-muted">Creación de venta.</small>
                </div>
                <div class="form-group col-sm-3">
                    <label for="venta_e_fecha_pedido_end">Final</label>
                    <input type="date" class="form-control" id="venta_e_fecha_pedido_end"
                        name="venta_e_fecha_pedido_end" value="{{view.request.GET.venta_e_fecha_pedido_end}}">
                    <small id="venta_e_fecha_pedido_end" class="form-text text-muted">Creación de venta.</small>
                </div>
                <div class="form-group col-sm-3">
                    <label for="venta_e_cliente">Cliente</label>
                    <select class="form-control" id="venta_e_cliente" name="venta_e_cliente">
                        <option value="">---------------</option>
                        {% for item in Clientes %}
                        <option value="{{item.venta_e_cliente__cli_clave}}"
                            {% if view.request.GET.venta_e_cliente ==  item.venta_e_cliente__cli_clave|striptags %}selected{% endif %}>
                            {{item.venta_e_cliente__cli_clave}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label for="venta_e_status">Status</label>
                    <select class="form-control" id="venta_e_status" name="venta_e_status">
                        <option value="">---------------</option>
                        <option value="0" {% if view.request.GET.venta_e_status ==  "0" %}selected{% endif %}>Inconcluso
                        </option>
                        <option value="1" {% if view.request.GET.venta_e_status ==  "1" %}selected{% endif %}>Finalizado
                        </option>

                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label for="venta_e_tipo">Tipo</label>
                    <select class="form-control" id="venta_e_tipo" name="venta_e_tipo">
                        <option value="">---------------</option>
                        {% for item in tipo_venta %}
                        <option value="{{item.0}}"
                            {% if view.request.GET.venta_e_tipo ==  item.0|striptags %}selected{% endif %}>{{item.1}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label for="venta_e_tipo">Creador</label>
                    <select class="form-control" id="venta_e_creado" name="venta_e_creado">
                        <option value="">---------------</option>
                        {% for item in creadors %}
                        <option value="{{item.venta_e_creado__id}}"
                            {% if view.request.GET.venta_e_creado ==  item.venta_e_creado__id|striptags %}selected{% endif %}>{{item.venta_e_creado__username}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <br>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-12">
        <!-- Weekly users Widget -->
        <div class="card">
            <div class="card-header">
                <h1>Ventas</h1>
                <ul class="card-actions">
                    <li class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-expanded="false">Mas <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">Accion</li>
                            <li>
                                <a tabindex="-1" href="{% url 'expo:download_expo_vent' %}?{{view.request.GET.urlencode}}">Descargar XLS</a>
                            </li>
                            {% if perms.expo.puede_descargar_total_ventas_por_marcas %}                                   
                            <li>
                                <a tabindex="-1" href="{% url 'expo:download_total_ventas_date_marcas' %}?{{view.request.GET.urlencode}}">XLS total ventas por marcas</a>
                            </li>
                            {% endif %}
                            
                            {% if view.request.GET.venta_e_cliente|length > 3 %}
                            {% if view.request.GET.venta_e_status|length > 0 %}
                            {% if perms.expo.puede_descargar_recibo_cliente %}   
                            <li>
                                <a tabindex="-1" href="{% url 'expo:download_recibo_cliente' %}?{{view.request.GET.urlencode}}">Recibo cliente</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                                                                                        
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="card-block">
                <table class="table-condensed">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Actualizado</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Status</th>
                            <th scope="col">Creador</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Total</th>
                            <th scope="col">Accion</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'expo:detalle_vent' item.Venta_ID %}">{{item.Venta_ID}}</a>
                            </th>
                            <td>{{item.venta_e_fecha_pedido}}</td>
                            <td>{{item.venta_e_actualizado}}</td>
                            <td>{{item.venta_e_cliente}}</td>
                            <td>
                                {% if item.venta_e_status %}
                                <i class="fa fa-check"></i>
                                {% else %}
                                <i class="fa fa-remove"></i>
                                {% endif %}
                            </td>
                            <td>{{item.venta_e_creado}}</td>
                            <td>{{item.get_venta_e_tipo_display}}</td>
                            <td>{{item.total_venta|intcomma}}</td>
                            <td>
                                <a href="{% url 'expo:delete_venta' item.Venta_ID %}"><i class="fa fa-trash-o text-danger"></i></a> 
                                <a href="{% url 'expo:update_venta' item.Venta_ID %}"><i class="fa fa-edit"></i></a>
                                {% if perms.expo.puede_descargar_xls_venta_expo %}
                                
                                {% if item.venta_e_status %}
                                <a href="{% url 'expo:download_expo_ventID' %}?vent={{item.Venta_ID}}"><i class="fa fa-cloud-download text-primary"></i></a>
                                {% endif %}
                                      
                                {% endif %}
                            </td>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-block text-center">
                <span class="label bg-green m-r-xs">Filtrado<i class="ion-connection-bars"></i></span> <small></small>
            </div>
        </div>
        <!-- .card -->
        <!-- End Weekly users Widget -->
    </div>
</div>



<div class="row justify-content-md-center">
    {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}&{{urls_formateada.urlencode}}"><i
                        class="material-icons">
                        navigate_before
                    </i></a></li>
            {% endif %}
            <span class="page-link">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                <span class="sr-only">(current)</span>
            </span>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.next_page_number }}&{{urls_formateada.urlencode}}"><i
                        class="material-icons">
                        navigate_next
                    </i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endblock %}
</div>
{% endblock contenido %}