{% extends 'index/base.html'%}
{% block contenido %}
{% load humanize %}
<div class="row">
    <form class="form-inline col-sm-6" method="GET" action="">
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" name="categoria">
                <option selected disabled>Categoria</option>
                {% for item in obj_list %}
                <option value="{{item.id}}" {% if item.id|striptags == view.request.GET.categoria %}
                    selected{% endif %}>{{item}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="exampleFormControlSelect1" name="marca">
                <option selected disabled>Marca</option>
                {% for item in list_marca %}
                <option value="{{item.marca_id_marca}}" {% if item.marca_id_marca|striptags == view.request.GET.marca %}
                    selected{% endif %}>{{item}}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
    </form>
    <form class="form-inline col-sm-6" method="GET" action="">
        <label class="sr-only" for="Serie">Serie</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="Serie" name="serie" placeholder="Numero de serie">
        O
        <label class="sr-only" for="barra">Codigo B</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="barra" name="barra" placeholder="Codigo Barras">
        <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
    </form>
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4>Activos</h4>
            <ul class="card-actions">
                <li class="dropdown">
                    <button type="button" data-toggle="dropdown" aria-expanded="false">Mas <span
                            class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header">Activo</li>
                        <li>
                            <a tabindex="-1" href="{% url 'activos:activo_crear' %}">Añadir activo</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- .card-actions -->
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table-condensed">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Serie</th>
                            <th scope="col">Codigo B</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Observación</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                        <tr>
                            <th scope="row">{{item.activo}}</th>
                            <td>{{item.activo_nombre}}</td>
                            <td>{{item.activo_categoria}}</td>
                            <td>{{item.activo_marca}}</td>
                            <td>{{item.activo_modelo}}</td>
                            <td>{{item.activo_serie|truncatechars:7}}</td>
                            <td>{{item.activo_codigo_barra|truncatechars:7}}</td>
                            <td>{{item.activo_costo|intcomma}}</td>
                            <td>{{item.activo_observacion|truncatewords:3}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-default"
                                        href="{% url 'activos:activo_especificacion_crear' item.activo %}" type="button"
                                        data-toggle="tooltip" title="" data-original-title="Añadir especificacion"><i
                                            class="fa fa-plus-circle"></i></a>
                                    <a class="btn btn-xs btn-default"
                                        href="{% url 'activos:activo_update' item.activo %}" type="button"
                                        data-toggle="tooltip" title="" data-original-title="Editar"><i
                                            class="fa fa-pencil-square-o"></i></a>
                                    <a class="btn btn-xs btn-default"
                                        href="{% url 'activos:activo_delete' item.activo %}" type="button"
                                        data-toggle="tooltip" title="" data-original-title="Eliminar"><i
                                            class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    

    <div class="row">
        <div class="col-lg-12 col-centered">
            {% block pagination %}
            {% if is_paginated %}
            <nav>
                <ul class="pagination pagination-lg">

                    {% if page_obj.has_previous %}
                    <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&{{urls_formateada.urlencode}}"><i class="ion-chevron-left"></i></a></li>
                    {% endif %}

                    
                    {% for page in page_obj.paginator.page_range %}
                    <!-- {% if forloop.counter != 1 %} | {% endif %} -->
                    <li class="{% if page|striptags == view.request.GET.page %}active{% endif %}">
                       <a href="{{ request.path }}?page={{page}}&{{urls_formateada.urlencode}}">{{ page }}</a>
                    </li>
                    
                    {% endfor %}
                    
                    {% if page_obj.has_next %}
                    <li>
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&{{urls_formateada.urlencode}}"><i class="ion-chevron-right"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

            {% endif %}
        {% endblock pagination %}
        </div>
    </div>




</div>

{% endblock contenido %}