{% extends 'index/base.html'%}
{% block contenido %}
<div class="col-md-3 offset-md-3">
    <form method="post">
        {% csrf_token %}


        {% for input in  form %}



        {% if input.name == "esp_tiene_costo" %}
        <br>
        <p>
            <label class="css-input switch switch-success">
                {{input}}<span></span>{{input.label}}
                {{input.error}}
            </label>
        </p>
        {% else %}

        {{input.label}}
        {{input}}
        {{input.error}}
        {% endif %}



        {% endfor %}

        <button class="form-control" type="submit">Guardar Cambios</button>
    </form>
</div>

<!-- <p>
    <label class="css-input switch switch-success">
<input type="checkbox" checked=""><span></span> Success
</label>
</p> -->

{% endblock contenido %}