{% extends 'index/base.html'%}
{% block contenido %}
<div class="col-lg-12">
        <!-- Striped Table -->
        <div class="card">
            <div class="card-header">
                <h4>Bajas</h4>
                <div class="card-actions">
                    <!-- <code>.table-striped</code>  -->

                    <li class="dropdown">
                            <button type="button" data-toggle="dropdown" aria-expanded="false"><i class="ion-more"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Baja</li>
                                <li>
                                    <a tabindex="-1" href="{% url 'activos:tb_crear' %}">Solicitar</a>
                                </li>
                            </ul>
                        </li>
                </div>
            </div>
            <div class="card-block">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">#</th>
                            <th>Asignación</th>
                            <th>Fecha</th>
                            <th>Tramitó</th>
                            <th>Validado</th>
                            <th>Observación</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for item in object_list %}  
                        <tr>
                            <td class="text-center">{{item.id}}</td>
                            <td>{{item.tb_activo}}</td>
                            <td>{{item.tb_fecha_creacion}}</td>
                            <td>{{item.tb_user_edit}}</td>
                            <td>{{item.tb_user_valido}}</td>
                            <td>{{item.tb_observacion}}</td>
                            <td class="text-center">
                                {% if item.tb_validado == True %}
                                <i data-toggle="tooltip" data-original-title="Ok" class="fa fa-check-square"></i>
                                {% else %}
                                <i data-toggle="tooltip" data-original-title="En espera de validación" class="ion-android-alarm-clock"></i>
                                {% endif %}
                            
                            
                                <div class="btn-group">
                                    {% if item.tb_validado == False %}
                                    {% if perms.activos.puede_validar_Tramite %}
                                    <a href="{% url 'activos:tb_validacion' item.id  %}" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Validar"><i class="ion-edit"></i></a>
                                    {% endif %} 

                                    {% else %}

                                    <a href="{% url 'activos:activo_baja_pdf' %}?item={{item.id}}" class="btn btn-xs btn-default"
                                    type="button" data-toggle="tooltip" title=""
                                    data-original-title="PDF"><i class="fa fa-file-pdf-o"></i></a>

                                    {% endif %} 
                                    <!-- <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Edit client"><i class="ion-edit"></i></button>
                                    <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Remove client"><i class="ion-close"></i></button> -->
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
            <!-- .card-block -->
        </div>
        <!-- .card -->
        <!-- End Striped Table -->
    </div>


    <div class="row">
            <div class="col-lg-12 col-centered">
                {% block pagination %}
                {% if is_paginated %}
                <nav>
                    <ul class="pagination pagination-lg">
    
                        {% if page_obj.has_previous %}
                        <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&{{urls_formateada.urlencode}}"><i class="ion-chevron-left"></i></a></li>
                        {% endif %}
    
                        
                        {% for page in page_obj.paginator.page_range %}
                        <!-- {% if forloop.counter != 1 %} | {% endif %} -->
                        <li class="{% if page|striptags == view.request.GET.page %}active{% endif %}">
                           <a href="{{ request.path }}?page={{page}}&{{urls_formateada.urlencode}}">{{ page }}</a>
                        </li>
                        
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                        <li>
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&{{urls_formateada.urlencode}}"><i class="ion-chevron-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
    
                {% endif %}
            {% endblock pagination %}
            </div>
        </div>

        
{% endblock contenido %}