{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Comercializadora Computel del Sureste</title>
    <style>
        html,body{
            color:white;
            font-family:'Opens Sans',helvetica;  
            height:100%;
            width:100%;
            margin: 0px;
        }
            #imagen{
                padding: 0%;
                background: url({% static 'webV2/Oops.jpg' %}) no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
    </style>
    <script>
        $(document).ready(function($){
            var ventana_ancho = $(window).width();
            var ventana_alto = $(window).height();
            $('#imagen').css({ 'width':ventana_ancho, 'height':ventana_alto, 'background-size':'100% 100%' });
        });  
    </script>
</head>
<body>
    <div id="imagen" >

    </div>
</body>
</html>