{% extends 'index/base.html'%}
{% block titulo %}
<title>Lista Productos</title>
{% endblock titulo %}
{% block contenido %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pedidos:pedido_tienda' %}">Pedido</a></li>
        <li class="breadcrumb-item active" aria-current="page">Carrito</li>
    </ol>
</nav>
<div class="container">

        <div class="row justify-content-end">
                <div class="col-12-sm-12">
                  <a class="btn btn-primary" title="Crear pedido" href="{% url 'pedidos:creacion_pedido_sucursal' %}" role="button"><i class="material-icons">swap_vert</i></a>
                </div>
              </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"><small>codigo</small></th>
                <th scope="col"><small>Producto</small></th>
                <th scope="col"><small>Cantidad</small></th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in object_list %}
            <tr>
                <th scope="row"><small>{{detalle.detallepedido_producto_id.producto_codigo}}</small></th>
                <th scope="row"><small>{{detalle.detallepedido_producto_id}}</small></th>
                <td><small>{{detalle.detallepedido_cantidad}}</small></td>
                <td><small><a class="btn btn-outline-danger btn-sm" href="{% url 'pedidos:detalle_producto_delete' detalle.id %}"
                            role="button"><i class="material-icons">delete_forever</i></a></small></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<div class="row justify-content-md-center">
    {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i
                        class="material-icons">
                        navigate_before
                    </i></a></li>
            {% endif %}
            <span class="page-link">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                <span class="sr-only">(current)</span>
            </span>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i
                        class="material-icons">
                        navigate_next
                    </i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endblock %}
</div>

{% endblock contenido %}