{% extends 'index/base.html'%}
{% block titulo %}
<title>Lista Productos</title>
{% endblock titulo %}

{% block contenido %}
{% load personalizacion_tag %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Productos</li>
    </ol>
  </nav>

  {% if perms.pedidos.add_producto %}
<div class="row">
    <div class="col">
        <span class="float-right">
        <a class="btn btn-secondary btn-sm" href="{% url 'pedidos:crear_producto' %}" role="button">Añadir</a>
        <a class="btn btn-secondary btn-sm" href="{% url 'pedidos:crear_producto_kit' %}" role="button">Añadir kit</a>
        </span>
    </div>
</div>
{% endif %}

<div class="container">
<div class="row">

  <form action="" method="GET">

<div class="col-sm-3">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Tipo producto</label>
    <select multiple name="tipo_producto" class="form-control" id="id_tipo_producto">
      <option value="1" {% if '1' in view.request.GET|get_item:'tipo_producto' %}selected{% endif %}>Uso Interno</option>
      <option value="2" {% if '2' in view.request.GET|get_item:'tipo_producto' %}selected{% endif %}>Activo Fijo</option>
    </select>
  </div> 
</div>
<div class="col-sm-3">
  <br>
  <div class="form-check">
    <input class="form-check-input" name="checkbox_visible" type="checkbox" {% if 'True' in view.request.GET|get_item:'checkbox_visible' %}checked{% endif %}
     value="True" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Visible
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" name="checkbox_visible" type="checkbox" {% if 'False' in view.request.GET|get_item:'checkbox_visible' %}checked{% endif %}
     value="False" id="defaultCheck2">
    <label class="form-check-label" for="defaultCheck2">
      No visible
    </label>
  </div>
</div>
<div class="col-sm-3">
  <br>
    <input class="btn btn-primary" type="submit" value="Buscar">
</div>


</form>
</div>
</div> 


<div class="card">
  <div class="card-header">
          <h4>Productos</h4>
      <div class="card-actions">
              <li class="dropdown">
                      <button type="button" data-toggle="dropdown" aria-expanded="false">Mas <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right">
                          <li class="dropdown-header">Accion</li>
                          <li>
                            {% if perms.pedidos.puede_actualizar_precio_volumen %} 
                            <a tabindex="-1" href="{% url 'pedidos:update_bulk' %}">Actualizar en volumen</a>
                            {% endif %} 
                              
                          </li>
  
                          
                      </ul>
                  </li>
      </div>
  </div>
  <div class="card-block">
    <table class="table table-sm">
      <thead class="thead-light">
        <tr>
        <small>
        </small>
          <th scope="col"><small>CODIGO</small></th>
          <th scope="col"><small>NOMBRE</small></th>
          <th scope="col"><small>DESCRIPCION</small></th>
          <th scope="col"><small>IMAGEN</small></th>
          <th scope="col"><small>MARCA</small></th>
          <th scope="col"><small>AREA</small></th>
          <th scope="col"><small>PRECIO</small></th>
          <th scope="col"><small>TIPO</small></th>
          <th scope="col"><small>ACCIÓN</small></th>
        </tr>
      </thead>
      <tbody>
      {% for producto in object_list %}
      <tr>
          <th scope="row"><small>{{producto.producto_codigo}}</small></th>
          <td><small>{{producto.producto_nombre|truncatewords:3}}</small></td>
          <td><small>{{producto.producto_descripcion|truncatewords:5}}</small></td>
          <td>
          <img src="{{producto.producto_imagen.url}}" alt="..." class="img-thumbnail" height="80" width="80">
          </td>
          <td><small>{{producto.producto_marca}}</small></td>
          <td><small>{{producto.producto_area}}</small></td> 
          <td><small>{{producto.producto_precio}}</small></td> 
          <td>{{producto.get_tipo_producto_display}}</td>
          <td>
            
              <div class="btn-group">
                  {% if producto.producto_kit %} 
                  {% if perms.pedidos.change_producto %} 
                  <a class="btn btn-xs btn-default" href="{% url 'pedidos:update_producto_kit' producto.producto_codigo %}" type="button" data-toggle="tooltip" title="" data-original-title="Editar"><i class="ion-edit"></i></a>
                  {% endif %}
                  {% else %}
                  {% if perms.pedidos.change_producto %} 
                  <a class="btn btn-xs btn-default" href="{% url 'pedidos:update_producto' producto.producto_codigo %}" type="button" data-toggle="tooltip" title="" data-original-title="Editar"><i class="ion-edit"></i></a>
                  {% endif %}
                  {% endif %}
                  {% if perms.pedidos.delete_producto %} 
                  <a class="btn btn-xs btn-default" href="{% url 'pedidos:eliminar_producto' producto.producto_codigo %}" type="button" data-toggle="tooltip" title="" data-original-title="Eliminar"><i class="ion-close"></i></a>
                  {% endif %}
                  {% if perms.expo.puede_editar_producto_expo %}  
                  <a class="btn btn-xs btn-default" href="{% url 'expo:update_producto_expo' producto.producto_codigo %}" type="button" data-toggle="tooltip" title="" data-original-title="Editar producto expo"><i class="ion-edit"></i></a>
                  {% endif %}
              </div>
              
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</div>

    



<div class="row justify-content-md-center">
    {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}&{{urls_formateada.urlencode}}"><i
                        class="material-icons">
                        navigate_before
                    </i></a></li>
            {% endif %}
            <span class="page-link">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                <span class="sr-only">(current)</span>
            </span>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}&{{urls_formateada.urlencode}}"><i
                        class="material-icons">
                        navigate_next
                    </i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endblock %}
</div>
{% endblock contenido %}