{% extends 'index/base.html'%}
{% block titulo %}
<title>Crear Producto</title>
{% endblock titulo %}

{% block contenido %} 

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Producto</li>
    </ol>
  </nav> 

<div class="container">
    {{ form.media }}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
      {% for input in form %}
      {% if input.name == 'producto_es_kit' %}
      <div class="form-check">
        {{input}}
        {{input.errors}}
        {{input.label}}
      </div>
      {% else %}
      <div class="form-group col-md-4">
        {{input.label}}
        {{input.errors}}
        {{input}}
      </div>
      {% endif %}

      {% endfor %}
    </div>
    <button type="submit" class="btn btn-outline-success">Guardar</button>
  </form>
</div>
{% endblock contenido %}

