{% extends 'web/base.html' %} 
{% block titulo %}
Nuestra empresa
{% endblock titulo %}
{% block contenido %}
<div class="main">
    <div class="container">
        <h1>Nuestra empresa</h1>
        <div class="row">
            <div class="col-md-6">
                <p>
                    COMERCIALIZADORA COMPUTEL DEL SURESTE es una empresa 100% Tabasqueña, líder en el ramo papelero que se dedica a la venta al mayoreo de Papelería, Artículos escolares y de oficina, equipos de cómputo y consumibles para cómputo y muebles para escuelas y oficinas. Contamos con un extenso surtido avalado por más de 17,000 diferentes artículos en nuestro inventario. Distribuimos marcas de reconocido prestigio mundial, como también marcas de alta calidad nacional.
                </p>
                <p>
                    <strong>MISIÓN</strong>
                </p>
                <p>
                    Ser la mejor opción de socio de negocio para nuestros clientes brindandoles la mas amplia variedad de articulos del ramo papelero; y el mejor servicio a través de un equipo humano capaz y comprometido con la mejora continua.
                </p>
                <p>
                    <strong>VISIÓN</strong>
                </p>
                <P>
                    Ser la Empresa líder del ramo papelero en el sureste mexicano.
                </P>
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/giO3nrDX250" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}