{% extends 'web/base.html' %}
{% block titulo %}
Servicio al cliente
{% endblock titulo %}
{% block contenido %}
<div class="main">
    <div class="container">
        <h1>Políticas de devolución y garantía.</h1>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong>Política Devoluciones Comercializadora Computel del Sureste S.A. de C.V.</strong>
                </p>
                <p>
                    Los siguientes términos aplican para todos los clientes de Computel y podrán hacer las devoluciones siempre que se cumplan con todas y cada una de las condiciones que se establecen en esta política.
                </p><br>
                <p>
                    <strong>Para autorizarse la devolución. </strong>
                </p>
                <p>
                    El producto deberá encontrarse completo, en perfecto estado para su venta, empaques, manuales y accesorios deben ser originales.(en los casos que aplique).
                    Se debe comunicar con el área de servicio a clientes por cualquiera de los medios que a continuación se mencionan:
                </p>
                <ul>
                    <li>
                        Teléfono 9933136180 Ext. 6016
                    </li>
                    <li>
                        Celular (Whatsapp) 9932426451
                    </li>
                    <li>
                        Skype (correo electrónico) ccs_gestiondecalidad@hotmail.com
                    </li>
                </ul>
                <p>
                    *Con factura en mano indique de manera clara y concisa la incidencia de su producto para que le sea asignado un folio.
                </p>
                <p>
                    <b>Nota:</b> Cuando el producto es entregado por pieza solo aplican las devoluciones por algún defecto de fábrica ya que cualquier otra incidencia se revisa en el momento de la entrega.
                </p><br>
                <p>
                    <strong>Puntos a considerar en la devolución:</strong>
                    <ul>
                        <li>
                            Es probable que durante el proceso de devolución se le solicite información adicional como por ejemplo fotografías del producto.
                        </li>
                        <li>
                            Una vez asignado el folio de devolución, el cliente deberá entregar el producto correctamente empacado y protegido adecuadamente contra golpes, humedad, estática, etc.
                        </li>
                        <li>
                            El cliente tiene un plazo máximo de 7 días para solicitar la devolución.
                        </li>
                        <li>
                            Al generar el folio el producto es aceptado a revisión y no implica la aceptación del mismo como devolución o como compromiso para aceptar una garantía.
                        </li>
                        <li>
                            Cuando el cliente solicita por error un material equivocado; los gastos de envió corren por cuenta del cliente si este requiere un cambio.
                        </li>
                    </ul>
                </p>
                <p>
                    <strong>No Aplica devolución en los siguientes casos:</strong>
                    <ul>
                        <li>
                            El empaque o las cajas no sean originales o se encuentren abiertas.
                        </li>
                        <li>
                            Por el uso indebido del producto o no haya sido utilizado en base al instructivo y/o manual de fabricante.
                        </li>
                        <li>
                            El producto se encuentre roto, golpeado o rayado.
                        </li>
                        <li>
                            El producto haya sido intervenido o alterado.
                        </li>
                        <li>
                            La falla sea provocada por la instalación de cualquier software, accesorios o agentes externos.
                        </li>
                        <li>
                            El producto tenga pixeles dañados (notebook y monitor con pantallas LCD)
                        </li>
                        <li>
                            En producto especiales, sobre pedido, grandes volúmenes o licitaciones. 
                        </li>
                    </ul>
                </p>
                <p>
                    <strong>Garantía</strong>
                    <ul>
                        <li>
                            En el caso de un producto descontinuado o agotado con el fabricante se podrá entregar uno con las mismas características o muy similares como reemplazo.
                        </li>
                        <li>
                            En equipos de cómputo y/o almacenamiento Comercializadora Computel del Sureste S.A. de C.V. no se hace responsable por la información contenida en los mismos.
                        </li>
                        <li>
                            Para algunos artículos, Computel solo funge como puente Cliente-Fabricante y será este último quien determine lo procedente.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}