{% extends 'web/base.html' %}
{% load humanize %}
{% load tags_promociones %}

{% block titulo %}
Mis puntos generados
{% endblock titulo %}

{% block contenido %}
<!-- <div class="container"> -->
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="row">
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                {{ message }}.
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
<div class="row">
    <div class="col-md-2">
        <p style="font-size: 25px;">Primeros lugares</p>
        {% for item in mejores %}
        <p><b>{{ forloop.counter }}.-</b> Cliente({{ item.no_cliente }})</p>
        {% endfor %}
        {% for item in orden %}
        <p><b>{{ forloop.counter }}.-</b> Cliente({{ item.no_cliente }}) Proveedor({% proveedorLetra item.proveedor %}) totalSuma({{ item.mismejores }}) t({{ item.puntosR }})</p>
        {% endfor %}
    </div>
    <div class="row col-md-5">
        {% for item in puntos %}
    <div class="col-md-6 my-2">
        <div class="card">
            <div class="card-body">
                Proveedor({% proveedorLetra item.proveedor %})
                <p><b>Puntos: </b>{{item.proveedor|PuntoG:item.puntosR |floatformat:"4"|intcomma}}</p>
                <p><b>Total: </b>${{item.totalpuntos}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="col-md-5">
        <canvas id="mejores_clientes">

        </canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
        <h2>Facturas con acumulación para puntos</h2>
    </div>
    {% for item in object_list %}
    <div class="col-md-2 my-2">
        <div class="card">
            <div class="card-body">
                <b>Factura:</b> <a href="{% url 'promocion:promopuntolistaD' item.fac %}">{{item.fac}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-12">
        <ul class="pagination mt-3 justify-content-center pagination_style1">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1&{{urls_formateada.urlencode}}">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{urls_formateada.urlencode}}">&#60;</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{urls_formateada.urlencode}}">&#62;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{urls_formateada.urlencode}}">&#187;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- </div> -->
{% endblock contenido %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script>
    


    var activo_sum = document.getElementById('mejores_clientes');

    var myPieChart = new Chart(activo_sum, {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    {% for item in puntos %}
                    {{item.proveedor|PuntoG:item.puntosR |floatformat:"4"|intcomma}},
                    {% endfor %}
                    ],
                backgroundColor:[
                {% for item in puntos %}
                'rgba({% random_int 100 255 %}, {% random_int 1 255 %}, {% random_int 1 255 %}, 0.8)',
                {% endfor %}
                    ],
                
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
            {% for item in puntos %}
            '{% proveedorLetra item.proveedor %}',
            {% endfor %}
            ], 

            
        },
        options: {}
    });
</script>
{% endblock script %}