{% extends 'index/base.html'%}
{% block titulo %}
<title>Lista Pedidos</title>
{% endblock titulo %}
{% block contenido %}
{% if msn_empresa != None %}
<div class="alert alert-danger" role="alert">
    {{msn_empresa}}
</div>
{% endif %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
    </ol>
</nav>

<div class="row">

        <div class="col-sm-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Pedidos</h4>
                        <ul class="card-actions">
                            <li>
                                <button type="button" data-toggle="tooltip" title="" data-original-title="Undo"><i class="ion-action-undo"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="tooltip" title="" data-original-title="Redo"><i class="ion-action-redo"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ion-pencil"></i></button>
                            </li>
                            <li class="dropdown">
                                <button type="button" data-toggle="dropdown" aria-expanded="false">Mas <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">Accion</li>
                                    <li>
                                        {% if perms.pedidos.add_configuracion_pedido %}
                                        <a tabindex="-1" href="{% url 'pedidos:pedido_config' %}">Configurar pedidos</a>
                                        {% endif %}
                                    </li>
                                    
                                    {% if view.request.GET %}
                                    {% if user.is_superuser %} 
                                    <li>
                                        
                                        <a tabindex="-1" href="{% url 'pedidos:down_report_suc' %}?status={{view.request.GET.status}}{% if view.request.GET.inicio != None and view.request.GET.fin %}&inicio={{view.request.GET.inicio}}&fin={{view.request.GET.fin}}{% endif %}">Descargar Reporte filtrado</a>
                                        
                                    </li>
                                    {% endif %}
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <!-- .card-actions -->
                    </div>
                    <div class="card-block">
                    <div class="table-responsive">
                            <table class="table-condensed">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col"><small>##</small></th>
                                            <th scope="col"><small>CREADO</small></th>
                                            <th scope="col"><small>DEPARTAMENTO</small></th>
                                            <th scope="col"><small>SUCURSAL</small></th>

                                            <th scope="col"><small>TOTAL</small></th>
                                            <th scope="col"><small>AUTORIZO</small></th>
                                            <th scope="col"><small>RECHAZÓ</small></th>
                                            <th scope="col"><small>Factura/Venta</small></th>
                                            <th scope="col"><small>STATUS</small></th>
                                            <th scope="col"><small>TIPO</small></th>
                                            <th scope="col"><small>ACCION</small></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pedido in object_list %}
                                        <tr>
                                            <th scope="row"><small>{{pedido.pedido_id_pedido}}</small></th>
                                            <th scope="row"><small>{{pedido.pedido_fecha_pedido}}</small></th>
                                            <td><small>{{pedido.pedido_id_depo}}</small></td>
                                            <td><small>{{pedido.pedido_id_depo.departamento_id_sucursal}}</small></td>
                                            <td><small>{{pedido.get_total}}</small></td>
                                            <td><small>{{pedido.pedido_autorizo}}</small></td>
                                            <td><small>{{pedido.pedido_rechazado}}</small></td>
                                            <td><small>{{pedido.pedido_n_factura}}/{{pedido.pedido_n_cresscedo}}</small></td>
                                            <td><small>
                                                    <span class="badge badge-{% if pedido.pedido_status == 1 %}info{% endif %}{% if pedido.pedido_status == 2 %}success{% endif %}{% if pedido.pedido_status == 3 %}danger{% endif %}">
                                                        {{pedido.get_pedido_status_display}}
                                                    </span>
                                                </small></td>
                                            <td><small>{{pedido.get_pedido_tipo_display}}</small></td>
                                            <td><small>
                                                    <div class="btn-group">
                                                    {% if perms.pedidos.change_pedido %}

                                                    <a class="btn btn-xs btn-default" href="{% url 'pedidos:pedido_update' pedido.pedido_id_pedido %}" type="button" data-toggle="tooltip" title="" data-original-title="Editar"><i class="ion-edit"></i></a>

                                                    <a class="btn btn-xs btn-default" href="{% url 'pedidos:pedidos_list_detalles' pedido.pedido_id_pedido %}" type="button" data-toggle="tooltip" title="" data-original-title="Descargar Pedido"><i class="fa fa-arrow-circle-o-down"></i></a>
                                                    {% endif %}
                                                </div>
                                                </small>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                    </div>
                    </div>
                </div>
            </div>



    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item active">Filtros</li>
            <li class="list-group-item">
                <a href="?status=1" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Creado</a>
                <a href="?status=2" class="btn btn-secondary btn-sm active" role="button"
                    aria-pressed="true">Aprobado</a>
                <a href="?status=3" class="btn btn-secondary btn-sm active" role="button"
                    aria-pressed="true">Rechazado</a>
                <a href="?status=0" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Todo</a>
            </li>
            {% comment %} <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li> {% endcomment %}
        </ul>

        <div class="card">
            <div class="card-body">
                <form action="" method="GET">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Fecha inicial</label>
                        <input name="inicio" type="date" class="form-control" value="{{view.request.GET.inicio}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Fecha Final</label>
                        <input name="fin" type="date" class="form-control" value="{{view.request.GET.fin}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Status Pedido</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="status">
                          <option value="0" {% if view.request.GET.status == '0' %}selected{% endif %}>Todo</option>
                          <option value="1" {% if view.request.GET.status == '1' %}selected{% endif %}>Creado</option>
                          <option value="2" {% if view.request.GET.status == '2' %}selected{% endif %}>Aprobado</option>
                          <option value="3" {% if view.request.GET.status == '3' %}selected{% endif %}>Rechazado</option>
                        </select>
                      </div>
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="row justify-content-md-center">
    {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="material-icons">
                        navigate_before
                    </i></a></li>
            {% endif %}
            <span class="page-link">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                <span class="sr-only">(current)</span>
            </span>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i
                        class="material-icons">
                        navigate_next
                    </i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endblock %}
</div>

{% endblock contenido %}
