{% extends 'index/base.html'%}
{% block titulo %}
<title>Lista Pedidos</title>
{% endblock titulo %}
{% block contenido %}
{% if msn_empresa != None %}
<div class="alert alert-danger" role="alert">
    {{msn_empresa}}
</div>
{% endif %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio:index' %}">inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-9">

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col"><small>##</small></th>
                    <th scope="col"><small>CREADO</small></th>
                    <th scope="col"><small>DEPARTAMENTO</small></th>
                    <th scope="col"><small>SUCURSAL</small></th>

                    <th scope="col"><small>TOTAL</small></th>
                    <th scope="col"><small>AUTORIZO</small></th>
                    <th scope="col"><small>RECHAZÓ</small></th>
                    <th scope="col"><small>STATUS</small></th>
                    <th scope="col"><small>TIPO</small></th>
                    <th scope="col">
                        {% if perms.pedidos.add_configuracion_pedido %}
                          
                        <a href="{% url 'pedidos:pedido_config' %}" title="Configuracion de pedidos"
                        class="btn btn-secondary btn-sm"><i class="material-icons">build</i>
                        
                    </a>
                    {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in object_list %}
                <tr>
                    <th scope="row"><small>{{pedido.pedido_id_pedido}}</small></th>
                    <th scope="row"><small>{{pedido.pedido_fecha_pedido}}</small></th>
                    <td><small>{{pedido.pedido_id_depo}}</small></td>
                    <td><small>{{pedido.pedido_id_depo.departamento_id_sucursal}}</small></td>
                    <td><small>{{pedido.get_total}}</small></td>
                    <td><small>{{pedido.pedido_autorizo}}</small></td>
                    <td><small>{{pedido.pedido_rechazado}}</small></td>
                    <td><small>
                            <span class="badge badge-{% if pedido.pedido_status == 1 %}info{% endif %}{% if pedido.pedido_status == 2 %}success{% endif %}{% if pedido.pedido_status == 3 %}danger{% endif %}">
                                {{pedido.get_pedido_status_display}}
                            </span>
                        </small></td>
                    <td><small>{{pedido.get_pedido_tipo_display}}</small></td>
                    <td><small>
                            {% if perms.pedidos.change_pedido %}
                            {% if pedido.pedido_status == 1 %}
                            <a class="btn btn-outline-warning btn-sm"
                                href="{% url 'pedidos:pedido_update' pedido.pedido_id_pedido %}" role="button"><i
                                    class="material-icons">border_color</i></a>
                            {% endif %}

                            <a class="btn btn-outline-success btn-sm"
                                href="{% url 'pedidos:pedidos_list_detalles' pedido.pedido_id_pedido %}"
                                role="button"><i class="material-icons">arrow_downward</i></a>

                            {% endif %}
                        </small>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item active">Filtros</li>
            <li class="list-group-item">
                <a href="?status=1" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Creado</a>
                <a href="?status=2" class="btn btn-secondary btn-sm active" role="button"
                    aria-pressed="true">Aprobado</a>
                <a href="?status=3" class="btn btn-secondary btn-sm active" role="button"
                    aria-pressed="true">Rechazado</a>
                <a href="?status=0" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Todo</a>
            </li>
            {% comment %} <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li> {% endcomment %}
        </ul>

        <div class="card">
            <div class="card-body">
                <form action="" method="GET">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Fecha inicial</label>
                        <input name="inicio" type="date" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Fecha Final</label>
                        <input name="fin" type="date" class="form-control" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="row justify-content-md-center">
    {% block pagination %}
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="material-icons">
                        navigate_before
                    </i></a></li>
            {% endif %}
            <span class="page-link">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                <span class="sr-only">(current)</span>
            </span>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i
                        class="material-icons">
                        navigate_next
                    </i></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endblock %}
</div>

{% endblock contenido %}